<div class="sidenav-overlay" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
<div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-light navbar-border navbar-shadow">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  © 2019 <a class="text-bold-800 grey darken-2" href="https://kbsqatar.com" target="_blank">KBS Qatar</a></span><span class="float-md-right d-none d-lg-block">Hand-crafted &amp; Made with <i class="ft-heart pink"></i><span id="scroll-top" style="display: none;"></span></span></p>
</footer>
<!-- END: Footer-->