
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item"><a href="/admin/dashboard-sales"><i class="la la-home"></i><span class="menu-title" data-i18n="nav.dash.main">Dashboard</span></a>
            </li>
            <li class=" nav-item">
                <a href="#">
                    <i class="la la-user"></i>
                    <span class="menu-title" data-i18n="nav.user.main">User Managements</span>
                </a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/admin/manage-role"><i></i><span data-i18n="nav.user.group">Manage Groups</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-users"><i></i><span data-i18n="nav.user.user">Manage Users</span></a></li>
<!--                    <li><a class="menu-item" href="/admin/manage-menu"><i></i><span data-i18n="nav.user.menus">Manage Group Menus</span></a></li>-->
                </ul>
            </li>
            <li class="nav-item"><a href="#"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="nav.company.main">Company Core</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/admin/manage-terminal"><i></i><span data-i18n="nav.comapany.terminals">Manage Terminals</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-branch"><i></i><span data-i18n="nav.comapany.branches">Manage Branches</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-merchant"><i></i><span data-i18n="nav.comapany.merchants">Manage Merchants</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-service"><i></i><span data-i18n="nav.comapany.services">Manage Services</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-products"><i></i><span data-i18n="nav.comapany.products">Manage Products</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-agreement"><i></i><span data-i18n="nav.comapany.agreements">Manage Agreements</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-session"><i></i><span data-i18n="nav.comapany.sessions">Manage Sessions</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-talabatUser"><i></i><span data-i18n="nav.comapany.sessions">Manage Talabat User</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-headphones"></i><span class="menu-title" data-i18n="nav.customer.main">Customer Core</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/admin/transactions"><i></i><span data-i18n="nav.customer.transaction">Transactions Tracking</span></a></li>
                   <!-- <li><a class="menu-item" href="/admin/manage-talabattransaction"><i></i><span data-i18n="nav.customer.talabat">TalabatTransactions Tracking</span></a></li>
                    <li><a class="menu-item" href="/admin/manage-wu"><i></i><span data-i18n="nav.customer.WU">WU Transactions Tracking</span></a></li>-->
                    <li><a class="menu-item" href="/admin/manage-vouchers"><i></i><span data-i18n="nav.customer.voucher">Voucher Tracking</span></a></li>
                    <li><a class="menu-item" href="/admin/terminal-status"><i></i><span data-i18n="nav.customer.terminal">Terminal Status</span></a></li>
                    <!--<li><a class="menu-item" href="/admin/customer-termcommand"><i></i><span data-i18n="nav.custome.term">Term Commands</span></a></li>-->
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-cloud-upload"></i><span class="menu-title" data-i18n="nav.pin.main">PIN Loaders</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/admin/import-pins"><i></i><span data-i18n="nav.pin.purchase">Import Pins</span></a></li>
                    <li><a class="menu-item" href="/admin/pin-download"><i></i><span data-i18n="nav.pin.download">Download PINS</span></a></li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="la la-bar-chart"></i><span class="menu-title" data-i18n="nav.reports.main">Reports</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/admin/report-reconciliation"><i></i><span data-i18n="nav.reports.transaction">Reconciliation</span></a></li>
                    <li><a class="menu-item" href="/admin/report-wu"><i></i><span data-i18n="nav.reports.WU">WU Reconciliation</span></a></li>
                    <li><a class="menu-item" href="/admin/report-pin"><i></i><span data-i18n="nav.reports.pin">PIN Quantities</span></a></li>
                    <li><a class="menu-item" href="/admin/report-talabat"><i></i><span data-i18n="nav.reports.talabat">Talabat Reconciliation</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
