<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

<!-- BEGIN: Vendor CSS-->

<link rel="stylesheet" type="text/css" href="/app-assets/css/vendors.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/weather-icons/climacons.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/fonts/meteocons/style.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/sweetalert.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/extensions/toastr.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/plugins/extensions/toastr.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<!-- END: Vendor CSS-->

<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/components.min.css">
<!-- END: Theme CSS-->

<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
<link rel="stylesheet" type="text/css" href="/app-assets/vendors/css/forms/selects/select2.min.css">
<link rel="stylesheet" type="text/css" href="/app-assets/css/core/colors/palette-gradient.min.css">
<!-- END: Page CSS-->

<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
<!-- END: Page CSS-->

<style>
    .select2-container {
        width:100% !important;
    }
</style>