<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Service</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <div class="row">
                <div class="col-xl-6 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Revenue</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body pt-0">
                                <div class="row mb-1">
                                    <div class="col-6 col-md-4">
                                        <h5>Current week</h5>
                                        <h2 class="danger">$82,124</h2>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <h5>Previous week</h5>
                                        <h2 class="text-muted">$52,502</h2>
                                    </div>
                                </div>
                                <div class="chartjs"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                    <canvas id="myChart" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-12">
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="card pull-up">
                                <div class="card-header bg-hexagons">
                                    <h4 class="card-title">Hit Rate <span class="danger">-12%</span></h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show bg-hexagons">
                                    <div class="card-body pt-0">
                                        <div class="chartjs"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                            <canvas id="myChart2" width="400" height="400"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <h6 class="text-muted">Order Value </h6>
                                                <h3>$ 88,568</h3>
                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-trophy success font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="card pull-up">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="media d-flex">
                                            <div class="media-body text-left">
                                                <h6 class="text-muted">Calls</h6>
                                                <h3>3,568</h3>
                                            </div>
                                            <div class="align-self-center">
                                                <i class="icon-call-in danger font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Revenue, Hit Rate & Deals -->

            <!-- Emails Products & Avg Deals -->
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Emails</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body pt-0">
                                <p>Open rate <span class="float-right text-bold-600">89%</span></p>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-1">
                                    <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="pt-1">Sent <span class="float-right"><span class="text-bold-600">310</span>/500</span>
                                </p>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-1">
                                    <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 48%" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Top Products</h4>
                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a href="#">Show all</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="border-top-0">iPone X</th>
                                            <td class="border-top-0">2245</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">One Plus</th>
                                            <td>1850</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Samsung S7</th>
                                            <td>1550</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title text-center">Average Deal Size</h4>
                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-md-6 col-12 border-right-blue-grey border-right-lighten-5 text-center">
                                        <h6 class="danger text-bold-600">-30%</h6>
                                        <h4 class="font-large-2 text-bold-400">$12,536</h4>
                                        <p class="blue-grey lighten-2 mb-0">Per rep</p>
                                    </div>
                                    <div class="col-md-6 col-12 text-center">
                                        <h6 class="success text-bold-600">12%</h6>
                                        <h4 class="font-large-2 text-bold-400">$18,548</h4>
                                        <p class="blue-grey lighten-2 mb-0">Per team</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Emails Products & Avg Deals -->

            <!-- Total earning & Recent Sales  -->
            <div class="row">

                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-content">
                            <div class="earning-chart position-relative"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <div class="chart-title position-absolute mt-2 ml-2">
                                    <h1 class="display-4">$1,596</h1>
                                    <span class="text-muted">Total Earning</span>
                                </div>
                                <canvas id="earning-chart" class="height-450 chartjs-render-monitor" width="322" height="450" style="display: block; width: 322px; height: 450px;"></canvas>
                                <div class="chart-stats position-absolute position-bottom-0 position-right-0 mb-2 mr-3">
                                    <a href="#" class="btn round btn-danger mr-1 btn-glow">Statistics <i class="ft-bar-chart"></i></a> <span class="text-muted">for the <a href="#" class="danger darken-2">last year.</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/ Total earning & Recent Sales  -->


        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="edit-payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Update Payment</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">PaymenDate</label>
                                            <input type="text"   class="form-control" placeholder="Name" name="pdate" id="pdate" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput2">  Name</label>
                                            <input type="text"   class="form-control" placeholder="Name" name="lname" id="lname" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">E-mail</label>
                                            <input type="text" class="form-control" placeholder="E-mail" name="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput4">Contact Number</label>
                                            <input type="text"   class="form-control" placeholder="Phone" name="phone" id="phone" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Company</label>
                                            <input type="text"   class="form-control" placeholder="Company" name="company" id="company" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">GSTIN</label>
                                            <input type="text"   class="form-control" placeholder="GSTIN" name="gstin"  id="gstin" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Address Line 1</label>
                                            <input type="text"   class="form-control" placeholder="Address Line 1" name="addr1"  id="addr1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Address Line 2</label>
                                            <input type="text"  class="form-control" placeholder="Address Line 2" name="addr2" id="addr2" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">City</label>
                                            <input type="text" class="form-control" placeholder="City" name="city" id="city" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Pincode</label>
                                            <input type="text"   class="form-control" placeholder="Pincode" name="pincode" id="pincode" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">State</label>
                                            <select   name="state"  id="state" class="form-control" required>
                                                <option value="none"  >Interested in</option>
                                                <option value="design">design</option>
                                                <option value="development">development</option>
                                                <option value="illustration">illustration</option>
                                                <option value="branding">branding</option>
                                                <option value="video">video</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Country</label>
                                            <select   name="country"   id="country" class="form-control" required>
                                                <option value="none" >Interested in</option>
                                                <option value="design">design</option>
                                                <option value="development">development</option>
                                                <option value="illustration">illustration</option>
                                                <option value="branding">branding</option>
                                                <option value="video">video</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4 class="form-section"><i class="ft-user"></i> Items </h4>
                                <div class="row  ">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Product</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Qnty</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Rate</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Total</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row itemsgroup">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="Product" name="product[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="qnty" name="qnty[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="rate" name="rate[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"   class="form-control" placeholder="Total" name="total[]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row addddddd">
                                    <div class="col-md-12   text-right">
                                        <div class="form-group">
                                            <a  class="btn btn-success addbtn" style="color: white">
                                                <i class="la la-check-square-o"></i> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="form-section" style="border-bottom: 1px solid #f1f1f1 !important;"> </h4>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4   text-right">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="Adjustment" name="adjs" id="adjs">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4   text-right">
                                        <div class="form-group">
                                            <input type="text"   class="form-control" placeholder="Total" name="grtotal" id="grtotal">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4 class="form-section"><i class="ft-user"></i> Upload Invoice </h4>
                                <div class="form-group">
                                    <label>Select File</label>
                                    <label id="projectinput7" class="file center-block">
                                        <input type="file" id="fileup" id="fileup">
                                        <span class="file-custom"></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="projectinput8">Remarks</label>
                                    <textarea  rows="5" class="form-control" name="remark"  id="remark" placeholder="About Payment"></textarea>
                                </div>
                            </div>

                            <div class="form-actions text-right">
                                <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade text-left" id="del-payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Remove Payment</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure want remove this payment?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                <input type="button" class="btn btn-outline-danger delpayment" value="Remove">
            </div>

        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs%>
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
<% include include/script.ejs%>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<!-- END: Page JS-->
<script>
    let users=[];
    $('.loader-kbs').fadeIn();
    $(document).ready(function() {
        var tt  = $(".manage-service").DataTable({

            ajax:{url:  "/api/payments/get", data:{action: 'get'}, type :'post',"error": function (e) { }, "dataSrc": function (d) { return d }},
            // data : [{"id":4,"name":"5","email":"5","contact":"5","status":5},{"id":3,"name":"5","email":"5","contact":"5","status":1},{"id":2,"name":"3","email":"3","contact":"3","status":1},{"id":1,"name":"undefined","email":"undefined","contact":"undefined","status":1}],

            columns: [{
                data: "date"
            },{
                data: "name"
            }, {
                data: "email"
            }, {
                data: "contact"
            },{
                data: "Manage Operators"
            }],
            columnDefs: [{
                targets:0,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.date+'</span>';
                }
            },{
                targets:1,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.name+'</span>';
                }
            },{
                targets:2,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    var h=(e.active==1)?'True' : 'False';
                    return '<span class="'+c+'">'+ e.email +'</span>';
                }
            },{
                targets:3,
                render:function(t,a,e){
                    var title=  'Edit' ;
                    return '<a data-toggle="modal" data-target="#edit-payments" href="javascript:;" class="badge badge-info badge-p is_active updatepaymt "  data-id="'+e.id+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                        '\t\t\t\t\t\t\t</a>';
                }
            },{
                targets: -1,
                render: function (t, a, e) {
                    return '<a data-toggle="modal"   href="javascript:;"  data-target="#del-payments"  class="badge badge-danger badge-p parentdel"    data-id="'+e.id+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>Remove</span>\n' +
                        '\t\t\t\t\t\t\t</a>';
                }
            }]
        });
        //  tt.columns.adjust().draw();
        $('.loader-kbs').fadeOut();
    });

    $(document).on('click','.addbtn',function () {
        $(this).before('<div class="row itemsgroup"> <div class="col-md-3"> <div class="form-group"> <input type="text" class="form-control" placeholder="Product" name="product[]"> </div> </div> <div class="col-md-3"> <div class="form-group"> <input type="text" class="form-control" placeholder="Qnty" name="qnty[]"> </div> </div> <div class="col-md-3"> <div class="form-group"> <input type="text" class="form-control" placeholder="Rate" name="rate[]"> </div> </div> <div class="col-md-3"> <div class="form-group"> <input type="text" class="form-control" placeholder="Total" name="total[]"><a class="btn btn-danger removebtn" style="margin: -55px -7px;    padding:0px 3px 2px 3px;color: white;float:right"> x</a> </div> </div> </div>');
    });
    $(document).on('click','.parentdel',function () {
        $('.delpayment').attr('delpay', $(this).attr('data-id') )
    });
    $(document).on('click','.delpayment',function () {
        var ths =  $(this);
        $.ajax({
            type: "post",
            url: "/api/payments/delete",
            data:{"delpay": ths.attr('delpay')} ,
            success: function(data){

                $('#del-payments').modal('hide');
            }
        });
    });

    $(document).on('click','.updatepaymt',function () {

        $.ajax({
            type: "post",
            url: "/api/payments/update",
            data:{action: 'update', payload:{updatepay: $(this).attr('data-id')}} ,
            success: function(data){
                $('#pdate').val(data[0]['date'])
                $('#lname').val(data[0]['name'])
                $('#email').val(data[0]['email'])
                $('#phone').val(data[0]['contact'])
                $('#company').val(data[0]['company'])
                $('#gstin').val(data[0]['gstn'])
                $('#addr1').val(data[0]['add1'])
                $('#addr2').val(data[0]['add2'])
                $('#city').val(data[0]['city'])
                $('#pincode').val(data[0]['pincode'])
                $('#state').val(data[0]['state'])
                $('#country').val(data[0]['country'])
                $('#adjs').val(data[0]['adjust'])
                $('#grtotal').val(data[0]['total'])
                $('#remark').val(data[0]['remark'])
                console.log(data[0]);
            }
        });
    });


</script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 30],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    var ctx = document.getElementById('myChart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [5, 17, 43, 45, 20, 50],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>