<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords"
          content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Import Invoice</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
          rel="stylesheet">

    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
    <style>
        .kisok, .e-kisok {
            display: none;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
      data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body">
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Import Pins</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                                    data-target="#import-pin">Import Pin
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button" class="btn btn-primary btn-block" id="btn-upload">Upload</button>
                                        </li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-terminal">
                                        <thead>
                                        <tr>
                                            <th>SNO.</th>
                                            <th>Serial Number</th>
                                            <th>Pin</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="import-pin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Terminal</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="import-pin-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="source">Source</label>
                                <input type="text" name="source" id="source" class="form-control k-required" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="date">Purchase Date</label>
                                <input class="form-control date" type="text" name="date" id="date" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="operator">Operator</label>
                                <select class="select2 form-control" id="operator" name="operator" required>
                                    <option value="Ored">Oreedoo</option>
                                    <option value="VF">Vodafone</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="product">Product</label>
                                <select class="select2 form-control" id="product" name="product" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="delimiter">Delimiter</label>
                                <input type="text" class="form-control" id="delimiter" name="delimiter" value="||"
                                       required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="file">Select File</label>
                                <input type="file" class="form-control" name="file" id="file" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Load">
                </div>
            </form>
        </div>
    </div>
</div>
<% include include/footer.ejs %>

<% include include/script.ejs %>
<script>
    let pin = [];
    let rawPin=[];
    let formData = null;

    $(document).ready(function () {
        // $(".install-date").daterangepicker({singleDatePicker:!0,showDropdowns:!0});

        $(".date").datetimepicker({format: "DD/MM/YYYY"});
        let table = $(".manage-terminal").DataTable({
            scrollX: !0,
            autoWidth: false,
            data: pin,
            columns: [{
                data: "si"
            }, {
                data: "serial"
            }, {
                data: "pin"
            }]
        });
        $('#import-pin-form').submit(function (e) {
            e.preventDefault();

            formData = $(this).serializeArray();

            let file = document.getElementById('file').files[0];
            let reader = new FileReader();
            reader.onload = function () {
                // Entire file
                let data = this.result.split('\n');
                let delimiter=$('#delimiter').val();
                let k=data[0].split(delimiter);
                let operator=k[0].trim();
                let product=k[1].trim();
                //empty the pin
                pin=[];
                if(operator==$('#operator').val() && product == $('#product').val()){
                    for (let i = 1; i < data.length; i++) {
                        if (data[i]) {
                            let row = data[i].split(delimiter);
                            if (row.length > 1) {
                                rawPin.push([row[0],row[1],operator,product]); //serial,pin operator,product
                                pin.push({
                                    si: i,
                                    serial: row[0].trim(),
                                    pin: row[1].trim()
                                });
                            }
                        }
                    }

                    table.clear();
                    table.rows.add(pin).draw();
                    $('#import-pin').modal('hide');
                    document.getElementById('import-pin-form').reset();
                }else{
                    toastr["error"]("The pins is not match with Operator");
                }
            };
            reader.readAsText(file);
            return false;
        });
        $('#operator').select2({width: '100%'});
        $.ajax({
            url: "/api/company/getProduct",
            type: 'post',
            beforeSend: function () {
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                if (res) {
                    let product = res.map(function (item) {
                        return {id: item.code, text: item.name}
                    });
                    $('#product').select2({data: product, placeholder: "Select Product",width: '100%'});
                }
                $('.loader-kbs').fadeOut();
            }, error: function (err) {
                console.error(err);
            }
        });

        $('#btn-upload').click(function () {
            let product=$('#product').val();
            let operator=$('#operator').val();
            if(rawPin && rawPin.length>0){
                $.ajax({
                    url:"/api/pin/load",
                    method:"POST",
                    data:{
                        pin:rawPin,
                        product:product,
                        operator:operator
                    },
                    beforeSend: function () {
                        $('.loader-kbs').fadeIn();
                    },
                    success:function (res) {
                        toastr["success"]("Pins loaded successfully");
                        rawPin=[];
                        $('.loader-kbs').fadeOut();
                    },
                    error: function (err) {
                        console.error(err);
                        toastr["error"]("Something went wrong please try again!");
                        $('.loader-kbs').fadeOut();
                    }
                })
            }else{
                toastr["error"]("Please load the pin to upload");
            }
        });

    });

</script>
</body>
<!-- END: Body-->

</html>