<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" contentpload Invoic="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Terminal</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
    <style>
        .kisok,.e-kisok{
            display:none;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                        <form class="form">
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="ft-shopping-cart"></i> Payments </h4>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1">Date</label>
                                                            <input type="text"   class="form-control" placeholder="Date" name="pdate" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput2">  Name</label>
                                                            <input type="text"   class="form-control" placeholder="Name" name="lname" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">E-mail</label>
                                                            <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput4">Contact Number</label>
                                                            <input type="text"   class="form-control" placeholder="Phone" name="phone" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Company</label>
                                                            <input type="text"   class="form-control" placeholder="Company" name="company" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">GSTIN</label>
                                                            <input type="text"   class="form-control" placeholder="GSTIN" name="gstin" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Address Line 1</label>
                                                            <input type="text"   class="form-control" placeholder="Address Line 1" name="addr1" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Address Line 2</label>
                                                            <input type="text"  class="form-control" placeholder="Address Line 2" name="addr2" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">City</label>
                                                            <input type="text" class="form-control" placeholder="City" name="city" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Pincode</label>
                                                            <input type="text"   class="form-control" placeholder="Pincode" name="pincode" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">State</label>
                                                            <select   name="state" class="form-control" required>
                                                                <option value="none"  >Interested in</option>
                                                                <option value="design">design</option>
                                                                <option value="development">development</option>
                                                                <option value="illustration">illustration</option>
                                                                <option value="branding">branding</option>
                                                                <option value="video">video</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Country</label>
                                                            <select   name="country" class="form-control" required>
                                                                <option value="none" >Interested in</option>
                                                                <option value="design">design</option>
                                                                <option value="development">development</option>
                                                                <option value="illustration">illustration</option>
                                                                <option value="branding">branding</option>
                                                                <option value="video">video</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h4 class="form-section"><i class="ft-user"></i> Items </h4>
                                                <div class="row  ">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Product</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Qnty</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Rate</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="projectinput3">Total</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row itemsgroup">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text"  class="form-control" placeholder="Product" name="product[]">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text"  class="form-control" placeholder="qnty" name="qnty[]">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text"  class="form-control" placeholder="rate" name="rate[]">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="text"   class="form-control" placeholder="total" name="total[]">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row addddddd">
                                                    <div class="col-md-12   text-right">
                                                        <div class="form-group">
                                                            <a  class="btn btn-success addbtn" style="color: white">
                                                                <i class="la la-check-square-o"></i> Add
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h4 class="form-section" style="border-bottom: 1px solid #f1f1f1 !important;"> </h4>
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4   text-right">
                                                        <div class="form-group">
                                                            <input type="text"  class="form-control" placeholder="Adjustment" name="adjs">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4   text-right">
                                                        <div class="form-group">
                                                            <input type="text"   class="form-control" placeholder="Total" name="grtotal">
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                
                                                <div class="form-group">
                                                    <label for="projectinput8">Remarks</label>
                                                    <textarea  rows="5" class="form-control" name="remark" placeholder="About Payment"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-actions text-right">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Submit
                                                </button>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-terminal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Terminal</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-terminal-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Type</label>
                                <select class="select2 form-control terminal-type" name="terminal-type" required>
                                    <option value=""></option>
                                    <option value="kisok">Kisok</option>
                                    <option value="pos">POS</option>
                                    <option value="portal">Portal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control" name="terminal-merchant" required>
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                    <option value="KeyBS Dubai TEST">KeyBS Dubai TEST</option>
                                    <option value="Yasir Communication">Yasir Communication</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="select2 form-control" name="terminal-branch" required>
                                    <option value=""></option>
                                    <option value="Main Branch">Main Branch</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input type="text"  class="form-control" name="serial-number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Installation Date</label>
                                <input type="text"  class="form-control install-date" name="install-date" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal ID</label>
                                <input type="text" class="form-control" name="terminal-id" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Health</label>
                                <input type="text" class="form-control" name="terminal-health" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="terminal-active" class="custom-control-input" id="yes" value="1">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="terminal-active" class="custom-control-input" id="no" value="0" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control k-required"  name="username">
                            </div>
                        </div>
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control k-required"  name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" class="form-control k-required"  name="ip">
                            </div>
                        </div>
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>Port Number</label>
                                <input type="text" class="form-control k-required"  name="portnumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-terminal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Terminal</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-terminal-form">
                <input type="hidden" name="edit-id" class="edit-id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Type</label>
                                <select class="select2 form-control edit-type" name="terminal-type" required>
                                    <option value=""></option>
                                    <option value="kisok">Kisok</option>
                                    <option value="pos">POS</option>
                                    <option value="portal">Portal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control edit-merchant" name="terminal-merchant" required>
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                    <option value="KeyBS Dubai TEST">KeyBS Dubai TEST</option>
                                    <option value="Yasir Communication">Yasir Communication</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="select2 form-control edit-branch" name="terminal-branch" required>
                                    <option value=""></option>
                                    <option value="Main Branch">Main Branch</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input type="text"  class="form-control edit-serial" name="serial-number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Installation Date</label>
                                <input type="text"  class="form-control install-date edit-date" name="install-date" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal ID</label>
                                <input type="text" class="form-control edit-tid" name="terminal-id" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Health</label>
                                <input type="text" class="form-control edit-health" name="terminal-health" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="terminal-active" class="custom-control-input edit-yes" value="1" id="yes1">
                                        <label class="custom-control-label" for="yes1">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="terminal-active" class="custom-control-input edit-no" value="0" id="no1">
                                        <label class="custom-control-label" for="no1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control e-required edit-username"  name="username">
                            </div>
                        </div>
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control e-required edit-password"  name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" class="form-control e-required edit-ip"  name="ip">
                            </div>
                        </div>
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>Port Number</label>
                                <input type="text" class="form-control e-required edit-port"  name="portnumber">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->


<script>

    $(document).ready(function() {
        $('.form').submit(function(e){
            e.preventDefault();
            $.ajax({
                type:'post',
                url:'/api/payments/insert',
                data:  $('.form').serializeArray(),
                success:function(data){
                }
            });
            return false;
        });
    });

    $('.addbtn').click(function(){
        $('.addddddd').prepend( $('.itemsgroup').html()) ;
    });
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>