<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
        <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
        <meta name="author" content="PIXINVENT">
        <title>KBS Admin - Login </title>
        <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
        <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

        <% include include/styles.ejs %>
    </head>
  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern 1-column   blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><section class="flexbox-container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                    <div class="card border-grey border-lighten-3 m-0">
                        <div class="card-header border-0">
                            <div class="card-title text-center">
                                <div class="p-1"><img src="/app-assets/images/logo/logo-dark.png" alt="branding logo"></div>
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Login with Modern</span></h6>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form-horizontal form-login" id="loginsubmit" >
                                    <fieldset  class="form-group position-relative has-icon-left mb-1">
                                        <input type="text" class="form-control" id="user-name" name="username" placeholder="Your Username" required>
                                        <div class="form-control-position">
                                            <i class="ft-user"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" class="form-control" id="user-password" name="password" placeholder="Enter Password" required>
                                        <div class="form-control-position">
                                            <i class="la la-key"></i>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-info btn-block"><i class="ft-unlock"></i>&nbsp;Login</button>
                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="float-sm-left text-center"><a href="/admin/reset-password" class="card-link">Forgot Password?</a></p>
                            <p class="float-sm-right text-center m-0">New to Modern? <a href="/admin/register" class="card-link">Sign Up</a></p>
                        </div>
                    </div>
                </div>
            </div>
         </section>
        </div>
      </div>
    </div>

    <% include include/script.ejs %>
    <script>
        $(document).ready(function () {
            $('.form-login').submit(function (e) { 
                e.preventDefault();
                
                var username=$('#user-name').val();
                var password=$('#user-password').val();
                $.ajax({
                    url: "/api/user/logincheck",
                    type: "POST",
                    data: { "password": btoa(password), "username": username },
                    success: function (result) {
                        if (result[0].tot >= 1) {                                            
                            toastr.success('Successfully Login');
                        } else {                  
                            toastr.warning('Something Error');
                        }
                    }
                }); 
            });
        });

    </script>
  </body>
</html>