<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr"><!-- BEGIN: Head--><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
      <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
      <meta name="author" content="PIXINVENT">
      <title>KBS Admin - Manage Users</title>
      <link rel="apple-touch-icon" href="../app-assets/images/ico/apple-icon-120.png">
      <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">   
      <% include include/styles.ejs %>
    </head> 
    <body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
      <% include include/header.ejs %>
      <!-- BEGIN: Main Menu--> 
      <% include include/left-menu.ejs %>  
   <!-- Recent Transactions -->
      <div class="app-content content">
         <div class="content-wrapper">
            <div class="content-header row mb-1">
            </div>
            <div class="content-body">
               <div class="row">
                  <div id="recent-transactions" class="col-12">
                     <div class="card">
                        <div class="card-header">
                           <h4 class="card-title">User Mangement</h4>
                           <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                           <div class="heading-elements">
                              <ul class="list-inline mb-0">
                                 <li><button class="btn btn-sm btn-primary box-shadow-2 round pull-right" data-toggle="modal" id="adduser" >Add User</button></li>
                              </ul>
                           </div>
                        </div>            
                        <div class="card-content">                
                           <div class="table-responsive">
                              <table class="table table-hover table-xl mb-0 manage-user">
                                 <thead>
                                    <tr>                                       
                                       <th class="border-top-0">ID</th>
                                       <th class="border-top-0">User Name</th>
                                       <th class="border-top-0">Name</th>                                       
                                       <th class="border-top-0">Email</th>
                                       <th class="border-top-0">Mobile</th>
                                       <th class="border-top-0">Designation</th>
                                       <th class="border-top-0">DOJ</th>
                                       <th class="border-top-0">Role</th>
                                       <th class="border-top-0">Status</th>
                                       <th class="border-top-0">Action</th>
                                    </tr>
                                 </thead>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="modal animated flipInY text-left" id="flipInY" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <label class="modal-title text-text-bold-600" id="myModalLabel33"><B>Add User</B></label>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">×</span>
                  </button>
               </div>
               <form  id="formid_submit">
                  <div class="modal-body">
                     <div class="row">
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>User Name </label>
                               <input type="text" id="username" class="form-control" placeholder="User name" name="username" required>
                           </div>                           
                        </div>
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Name</label>
                                 <input type="text" id="name" class="form-control" placeholder="Name" name="name" required>
                           </div>                           
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Email</label>
                                 <input type="text" id="email" class="form-control" placeholder="Email" name="email" required>
                           </div>                           
                        </div>
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Phone</label>
                                 <input type="text" id="phone" class="form-control" placeholder="phone" name="mobile" required>
                           </div>                           
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Date of Join </label>
                              <input type="text" id="doj" class="form-control doj" placeholder="Date Of Join" name="doj" required>
                           </div>                           
                        </div>
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Designation</label>
                              <select id="designation" name="designation" class="form-control select2" required>
                                 
                              </select>
                           </div>                          
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6" >
                           <div class="form-group" >
                              <label>Role</label>
                              <select id="role" name="role" class="form-control select2" required>                                 
                              </select>
                           </div>                           
                        </div>
                        <div class="col-md-6" >
                           <div class="form-group">
                              <label>Status</label>
                              <select id="status" name="status" class="form-control select2" required>
                                 <option value="1" selected="">Enable</option>
                                 <option value="0">Disable</option>
                              </select>
                           </div>                           
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-outline-primary" id="submitform" >Save</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

      <!-- BEGIN: Footer-->
      <% include include/footer.ejs %>
      <!-- END: Footer-->

      <!-- BEGIN: Vendor JS-->
      <% include include/script.ejs %>
      <!-- END: Theme JS-->
      <script>
      
      let table;
      var i = 0;
      $(document).ready(function () {
         let users = [];
         $('.loader-kbs').fadeIn();

         table = $(".manage-user").DataTable({
            scrollX:!0,
            autoWidth: false,
            data: users,
            order:[[6,"desc"]],
            columns: [{
               data: "id"
            },{
               data: "username"
            }, {
               data: "name"
            }, {
               data: "email"
            }, {
               data: "designation"
            }, {
               data: "mobile"
            }, {
               data: "doj"
            },{
               data: "status"
            },{
               data: "role"
            },{
               data: "Action"
            }],
            columnDefs: [{
               targets: 0,
               render: function (t, a, e) {
                  i++;
                  return i;
               }
            },{
               targets:1,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.username+'</span>';
               }
            },{
               targets:2,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.name+'</span>';
               }
            },{
               targets:3,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.email+'</span>';
               }
            },{
               targets:4,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.mobile+'</span>';
               }
            },{
               targets:5,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.designation +'</span>';
               }
            },{
               targets:6,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+e.doj +'</span>';
               }
            },{
               targets:7,
               render:function(t,a,e){
                  var c=(e.status==1)?'success' : '';
                  return '<span class="'+c+'">'+capitalizeFirstLetter(e.role_name) +'</span>';
               }
            },{
               targets:8,
               render:function(t,a,e){
                  var title = (e.status == 1) ? 'Active' : 'Deactive';
                  var colo = (e.status == 1) ? 'primary' : 'danger';

                  var html = '<a href="JavaScript:;"  class="active is-active badge badge-'+colo+' badge-p"  data-id="' + e.userid + '" data-status="' + e.status + '">'+title+'</a>';

                  return '<span class="line-height-2">' + html + '</span>';   
                     
               }
            },{
               targets: -1,
               render: function (t, a, e,d){
                  
                  var title = (e.status == 1) ? 'Enable' : 'Disable';
                  var colo = (e.status == 1) ? 'primary' : 'danger';
                  var html = '<a href="JavaScript:;"  class="edit badge badge-'+colo+' badge-p"  data-id="' + e.userid + '" data-status="' + e.status + '">'+title+'</a>';

                  return '<span class="line-height-2">' + html + '</span>';
               }
            }],
            "initComplete": function (settings) {
               getrole();
            }
         });

         function getrole() {
         $.ajax({
            url: "/api/user/getUser",
            type: "POST",
            success: function (result) {
               table.clear().rows.add(result).draw();
               $('.loader-kbs').fadeOut();
            },
            error: function (err) {

            }
         });
      }

      $('body').on('click', '.edit', function (e) {
         let target=e.target;
         let id=target.getAttribute('data-id');
         let status=target.getAttribute('data-status');
      
         if (status == 1) {
            status = 0;
         } else {
            status = 1;
         }
         $.ajax({
            url: "/api/user/upadateuser",
            type: "POST",
            data: { "id": id, "status": status },
            success: function (result) {
               if (status == 1) {                  
                  target.setAttribute('data-status',1);
                  target.innerText='Enable';
                  toastr.success('Successfully Active User');
               } else {                  
                  target.setAttribute('data-status',0);
                  target.innerText='Disable';
                  toastr.warning('Successfully Deactive User');
               }

            }
         }); 
      });

      $("#adduser").click(function (e){

         $.ajax({
            url: "/api/user/getgesigination",
            type: "POST",
            success: function (result) {
               result.forEach(elements => {
                  $("#designation").append(new Option(capitalizeFirstLetter(elements.designation), elements.id));
               });                
            }
         });

         $.ajax({
            url: "/api/user/getroleactive",
            type: "POST",
            success: function (fetchrole) {
               fetchrole.forEach(element => {
                  $("#role").append(new Option(capitalizeFirstLetter(element.role_name), element.id));
               });                
            }
         });


         $('#flipInY').modal('toggle');
         console.log('dsfsdf');
      });

      $("#formid_submit").submit(function (e) {       
         e.preventDefault();
         var dat=$('#formid_submit').serialize();
         var username=$('#username').val();
         var email=$('#email').val();
         var name=$('#name').val();
         var role=$('#role :selected').text();
         console.log(role);
         $.ajax({
            url: "/api/user/checkuser",
            type: "POST",
            data: "username="+username+"&email="+email,
            success: function (result) {
               if(result[0].tot==0){
                  $.ajax({
                     url: "/api/user/insert",
                     type: "POST",
                     data: dat+"&createon=1&createby=20",
                     success: function (result) {
                        $('#flipInY').modal('toggle');
                        if (result.affectedRows == 1 && result.insertId != 0) {
                           i++;
                           var ader = [{
                              name: name,
                              username: username,
                              email: email,
                              mobile: $('#phone').val(),
                              doj: $('#doj').val(),
                              designation: $('#designation :selected').text(),
                              role_name: role,
                              status: 1,
                              id: i
                           }];
                          toastr.success('Successfully Added');
                           table.rows.add(ader).draw();
                           document.getElementById("formid_submit").reset();
                           mailfunction(email,username,name);
                        } else {
                           toastr.error('Role Insert Error');
                        }
                     }
                  });
               }else {
                  toastr.error('User name or Email already Exits');
               }
            }
         });
             
      });

      });
      function mailfunction(stremail,strusername,strname){

         return 'success';
      }

      function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); }

         $(document).ready(function() {
            $(".select2").select2();
            $(".doj").datetimepicker({viewMode:"years",format:"YYYY-MM-DD"});
         });

      </script>
  </body>
  <!-- END: Body-->
</html>