<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Terminal</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
    <style>
        .kisok,.e-kisok{
            display:none;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Terminal</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-terminal">Add Terminal</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-terminal">
                                        <thead>
                                        <tr>
                                            <th>Merchant Name</th>
                                            <th>Branch Name</th>
                                            <th>Terminal ID</th>
                                            <th>Terminal Type</th>
                                            <th>Is Active</th>
                                            <th>Health</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-terminal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Terminal</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-terminal-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Type</label>
                                <select class="select2 form-control terminal-type" name="type" required>
                                    <option value=""></option>
                                    <option value="1">Kisok</option>
                                    <option value="2">POS</option>
                                    <option value="3">Portal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control select-merchant" name="merchant" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="select2 select-branch form-control" name="branch" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input type="text"  class="form-control" name="serial_no" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Installation Date</label>
                                <input type="text"  class="form-control install-date" name="date" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal ID</label>
                                <input type="text" class="form-control number-only" name="tid" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Health</label>
                                <input type="text" class="form-control" name="health" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input" id="yes" value="1">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input" id="no" value="0" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control k-required"  name="username">
                            </div>
                        </div>
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control k-required"  name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" class="form-control k-required"  name="ip">
                            </div>
                        </div>
                        <div class="col-md-6 kisok">
                            <div class="form-group">
                                <label>Port Number</label>
                                <input type="text" class="form-control number-only k-required"  name="port">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-terminal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Terminal</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input type="hidden" id="row-id">
            <input type="hidden" name="edit-id" class="edit-id">
            <form id="edit-terminal-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Type</label>
                                <select class="select2 form-control edit-type" name="type" required>
                                    <option value=""></option>
                                    <option value="1">Kisok</option>
                                    <option value="2">POS</option>
                                    <option value="3">Portal</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control select-merchant edit-merchant" name="merchant" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch</label>
                                <select class="select2 form-control select-branch edit-branch" name="branch" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Serial Number</label>
                                <input type="text"  class="form-control edit-serial" name="serial_no" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Installation Date</label>
                                <input type="text"  class="form-control install-date edit-date" name="date" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal ID</label>
                                <input type="text" class="form-control edit-tid number-only" name="tid" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Terminal Health</label>
                                <input type="text" class="form-control edit-health" name="health" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input edit-yes" value="1" id="yes1">
                                        <label class="custom-control-label" for="yes1">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input edit-no" value="0" id="no1">
                                        <label class="custom-control-label" for="no1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control e-required edit-username"  name="username">
                            </div>
                        </div>
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control e-required edit-password"  name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>IP</label>
                                <input type="text" class="form-control e-required edit-ip"  name="ip">
                            </div>
                        </div>
                        <div class="col-md-6 e-kisok">
                            <div class="form-group">
                                <label>Port Number</label>
                                <input type="text" class="form-control e-required edit-port number-only"  name="port">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    let userObject={};
    let table;

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    $(document).ready(function() {
        $.ajax({
            url:"/api/company/getMerchantSelect",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                $('.loader-kbs').fadeOut();
                $.each(res,function(k,v){
                    $('.select-merchant').append('<option value="'+v.id+'">'+v.name+'</option>');
                })
            },error:function(err){
                console.error(err);
            }
        });

        $.ajax({
            url:"/api/company/getBranchSelect",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                $('.loader-kbs').fadeOut();
                $.each(res,function(k,v){
                    $('.select-branch').append('<option value="'+v.id+'">'+v.branch_name+'</option>');
                })
            },error:function(err){
                console.error(err);
            }
        });

        table = $(".manage-terminal").DataTable({
            scrollX:!0,
            autoWidth: false,
            data: users,
            order:[[6,"desc"]],
            columns: [{
                data: "merchant"
            },{
                data: "branch"
            }, {
                data: "tid"
            }, {
                data: "type"
            }, {
                data: "active"
            }, {
                data: "health"
            }, {
                data: "id"
            },{
                data: "Action"
            }],
            columnDefs: [{
                targets:0,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    let merchant=$('.edit-merchant option[value="'+e.merchant+'"]').text();
                    return '<span class="'+c+'">'+merchant+'</span>';
                }
            },{
                targets:1,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    let branch=$('.edit-branch option[value="'+e.branch+'"]').text();
                    return '<span class="'+c+'">'+branch+'</span>';
                }
            },{
                targets:2,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.tid+'</span>';
                }
            },{
                targets:3,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.type+'</span>';
                }
            },{
                targets:4,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    var h=(e.active==1)?'True' : 'False';
                    return '<span class="'+c+'">'+ h +'</span>';
                }
            },{
                targets:5,
                render:function(t,a,e){
                    var c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.health+'</span>';
                }
            },{
                targets:6,
                visible: !1
            },{
                targets: -1,
                render: function (t, a, e,d){
                    var title=(e.active==1)? 'Deactive' : 'Active';
                    var html='<a href="javascript:;" class="edit badge badge-primary badge-p" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                        '\t\t\t\t\t\t\t</a>';

                    return '<span class="line-height-2">'+ html +'&nbsp;\n' +
                        '\t\t\t\t\t\t\t<a href="javascript:;" class="is-active badge badge-info badge-p" data-active="'+e.active+'" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                        '\t\t\t\t\t\t\t</a>\n' +
                        '\t\t\t\t\t\t</span>';
                }
            }]
        })

        $(".select2").select2();
        $(".install-date").datetimepicker({viewMode:"years",format:"DD/MM/YYYY"});

        $.ajax({
            url:"/api/company/getTerminal",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                userObject=arrayToObject(users,"id");
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
    });

    $('.terminal-type').on('change',function(){
        var k=$(this).val();
        $('.kisok').fadeOut();
        $('.k-required').removeAttr('required');
        if(k=='1'){
            $('.k-required').attr('required','required');
            $('.kisok').fadeIn();
        }
    });

    $('.edit-type').on('change',function(){
        var k=$(this).val();
        $('.e-kisok').fadeOut();
        $('.e-required').removeAttr('required');
        if(k=='1'){
            $('.e-required').attr('required','required');
            $('.e-kisok').fadeIn();
        }
    });

    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-type').val(d.type).trigger('change');
        $('.edit-merchant').val(d.merchant).trigger('change');
        $('.edit-branch').val(d.branch).trigger('change');
        $('.edit-serial').val(d.serial_no);
        $('.edit-date').val(d.date);
        $('.edit-tid').val(d.tid);
        $('.edit-health').val(d.health);
        $('.edit-username').val(d.username);
        $('.edit-password').val(d.password);
        $('.edit-ip').val(d.ip);
        $('.edit-port').val(d.port);
        $('.edit-id').val(d.id);
        if(d.active==1){
            $('.edit-yes').prop('checked',true);
        }else{
            $('.edit-no').prop('checked',true);
        }
        $('#row-id').val($(this).data('row'));
        $('#edit-terminal').modal('show');
    });

    // add submit

    $('#add-terminal-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'terminal',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-terminal').modal('hide');
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success("Your information inserted successfully.");
                }else{
                    toastr.error("Something has wrong please try again.");
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    //edit submit

    $('#edit-terminal-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        id=$('.edit-id').val();
        data={
            table:'terminal',
            cond:{
                id:id
            },
            data:t
        };
        $.ajax({
            url: "/api/company/update",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#edit-terminal').modal('hide');
                if(res.affectedRows > 0){
                    var r=$('#row-id').val();
                    t.id=id;
                    userObject[id]=t;
                    table.row(r).data(t).draw();
                    toastr.success("Your information updated successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    // active submit

    $(document).on('click','.is-active',function (e) {
        e.preventDefault();
        let id=$(this).data('id');
        let row=$(this).data('row');
        let s=$(this).data('active');
        let tex=(s==0)? 'Activate' : 'Deactivate';
        let v=(s==0)? '1' : '0';
        swal({
            title: "Confirmation!",
            text: "Are you sure "+tex+" this terminal",
            icon: "info",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                },
                confirm: {
                    text: "Confirm",
                    value: !0,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                }
            }
        }).then(e => {
            if(e){
                data={
                    table:'terminal',
                    cond:{ id:id },
                    data:{active:v}
                };
                $.ajax({
                    url: "/api/company/update",
                    type: "POST",
                    data:data,
                    beforeSend:function(){
                        $('.loader-kbs').fadeIn();
                    },
                    success: function (res) {
                        if(res.affectedRows > 0){
                            var d=userObject[id];
                            d.active=v;
                            table.row(row).data(d).draw();
                            toastr.success("This terminal "+tex+" successfully.");
                        }else{
                            toastr.error("Something has wrong please try again.")
                        }
                        $('.loader-kbs').fadeOut();
                    },error:function (err) {
                        $('.loader-kbs').fadeOut();
                        console.log(err);
                    }
                });
            }else{
                return false;
            }
        })
    })
</script>
</body>
<!-- END: Body-->

</html>