<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Merchant</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Merchant</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-merchant">Add Merchant</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-merchant">
                                        <thead>
                                        <tr>
                                            <th>Merchant ID</th>
                                            <th>Merchant Name</th>
                                            <th>Merchant Type</th>
                                            <th>Contact Person</th>
                                            <th>Phone Number</th>
                                            <th>Address</th>
                                            <th>Is Active</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-merchant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Merchant</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-merchant-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant Type</label>
                                <select class="select2 form-control" name="type" required>
                                    <option value=""></option>
                                    <option value="OwnerMerchant">OwnerMerchant</option>
                                    <option value="Owner-ServiceProvider">Owner-ServiceProvider</option>
                                    <option value="Merchant-Merchant">Merchant-Merchant</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Supervisor Merchant</label>
                                <select class="select2 form-control" name="supervisor">
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Working Currency</label>
                                <select class="select2 form-control" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant Name</label>
                                <input type="text"  class="form-control" name="name"  required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Person</label>
                                <input type="text"  class="form-control" name="contact_person" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text"  class="form-control number-only" name="phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email" class="form-control" name="email" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" name="address" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>With Credit</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="credit" class="custom-control-input m-credit" value="1" id="yes" checked>
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="credit" class="custom-control-input m-credit" value="0" id="no">
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Credit Facility Value</label>
                                <input type="number" class="form-control merchant-amount" name="amount" value="0.000"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input" value="1" id="yes1">
                                        <label class="custom-control-label" for="yes1">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input" value="0" id="no1" checked>
                                        <label class="custom-control-label" for="no1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-merchant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Merchant</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" name="edit-id" class="edit-id">
            <input type="hidden" id="row-id">

            <form id="edit-merchant-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant Type</label>
                                <select class="select2 form-control edit-type" name="type" required>
                                    <option value=""></option>
                                    <option value="OwnerMerchant">OwnerMerchant</option>
                                    <option value="Owner-ServiceProvider">Owner-ServiceProvider</option>
                                    <option value="Merchant-Merchant">Merchant-Merchant</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Supervisor Merchant</label>
                                <select class="select2 form-control edit-supervisor" name="supervisor">
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Working Currency</label>
                                <select class="select2 form-control edit-currency" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant Name</label>
                                <input type="text"  class="form-control edit-name" name="name"  required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Person</label>
                                <input type="text"  class="form-control edit-contact" name="contact_person" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text"  class="form-control number-only edit-phone" name="phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email" class="form-control edit-email" name="email" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control edit-address" name="address" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>With Credit</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="credit" class="custom-control-input edit-yes2 e-credit" value="1" id="yes2">
                                        <label class="custom-control-label" for="yes2">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="credit" class="custom-control-input edit-no2 e-credit" value="0" id="no2">
                                        <label class="custom-control-label" for="no2">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Credit Facility Value</label>
                                <input type="number" class="form-control edit-amount" name="amount" value="0.000"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input edit-yes3" value="1" id="yes3">
                                        <label class="custom-control-label" for="yes3">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input edit-no3" value="0" id="no3">
                                        <label class="custom-control-label" for="no3">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->
<% include include/script.ejs %>

<script>
    let users=[];
    let userObject={};
    let table;

    table=$(".manage-merchant").DataTable({
        scrollX:!0,
        autoWidth: false,
        data: users,
        order:[[6,"desc"]],
        columns: [{
            data: "mid"
        },{
            data: "name"
        }, {
            data: "type"
        }, {
            data: "contact_person"
        }, {
            data: "phone"
        }, {
            data: "address"
        }, {
            data: "active"
        },{
            data:"id"
        },{
            data: "Action"
        }],
        columnDefs: [{
            targets:0,
            visible: !1
        },{
            targets:1,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.name+'</span>';
            }
        },{
            targets:2,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.type+'</span>';
            }
        },{
            targets:3,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.contact_person+'</span>';
            }
        },{
            targets:4,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.phone+'</span>';
            }
        },{
            targets:5,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.address+'</span>';
            }
        },{
            targets:6,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                var h=(e.active==1)?'True' : 'False';
                return '<span class="'+c+'">'+ h +'</span>';
            }
        },{
            targets:7,
            visible: !1
        },{
            targets: -1,
            render: function (t, a, e,d) {
                var title=(e.active==1)? 'Deactive' : 'Active';
                var html='<a href="javascript:;" class="edit badge badge-primary badge-p" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                    '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                    '\t\t\t\t\t\t\t</a>';

                return '<span class="line-height-2">'+ html +'&nbsp;\n' +
                    '\t\t\t\t\t\t\t<a href="javascript:;" class="is-active badge badge-info badge-p" data-active="'+e.active+'" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                    '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                    '\t\t\t\t\t\t\t</a>\n' +
                    '\t\t\t\t\t\t</span>';
            }
        }]
    });

    $(document).ready(function() {
        $(".select2").select2();
        $.ajax({
            url:"/api/company/getMerchant",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                userObject=arrayToObject(users,"id");
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
    });

    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-type').val(d.type).trigger('change');
        $('.edit-supervisor').val(d.supervisor).trigger('change');
        $('.edit-currency').val(d.currency).trigger('change');
        $('.edit-name').val(d.name);
        $('.edit-contact').val(d.contact_person);
        $('.edit-phone').val(d.phone);
        $('.edit-email').val(d.email);
        $('.edit-address').val(d.address);
        $('.edit-amount').val(d.amount);
        $('.edit-id').val(d.id);
        if(d.credit==1){
            $('.edit-yes2').prop('checked',true);
            $('.edit-amount').prop('readonly',false);
        }else{
            $('.edit-no2').prop('checked',true);
            $('.edit-amount').prop('readonly',true);
        }
        if(d.active==1){
            $('.edit-yes3').prop('checked',true);
        }else{
            $('.edit-no3').prop('checked',true);
        }
        $('#edit-merchant').modal('show');
    });

    $('.m-credit').change(function(){
        var t = $( '.m-credit:checked' ).val();
        $('.merchant-amount').val('0.000');
        $('.merchant-amount').prop('readonly',true);
        if(t==1){
            $('.merchant-amount').prop('readonly',false);
        }
    });

    $('e-credit').change(function(){
        var t = $( '.e-credit:checked' ).val();
        $('.edit-amount').val('0.000');
        $('.edit-amount').prop('readonly',true);
        if(t==1){
            $('.edit-amount').prop('readonly',false);
        }
    });

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    // add submit

    $('#add-merchant-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'merchant',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-merchant').modal('hide');
                $('.loader-kbs').fadeOut();
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success("Your information inserted successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    //edit submit

    $('#edit-merchant-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        id=$('.edit-id').val();
        data={
            table:'merchant',
            cond:{
                id:id
            },
            data:t
        };
        $.ajax({
            url: "/api/company/update",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('.loader-kbs').fadeOut();
                $('#edit-merchant').modal('hide');
                if(res.affectedRows > 0){
                    var r=$('#row-id').val();
                    t.id=id;
                    userObject[id]=t;
                    table.row(r).data(t).draw();
                    toastr.success("Your information updated successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    // active submit

    $(document).on('click','.is-active',function (e) {
        e.preventDefault();
        let id=$(this).data('id');
        let row=$(this).data('row');
        let s=$(this).data('active');
        let tex=(s==0)? 'Activate' : 'Deactivate';
        let v=(s==0)? '1' : '0';
        swal({
            title: "Confirmation!",
            text: "Are you sure "+tex+" this merchant",
            icon: "info",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                },
                confirm: {
                    text: "Confirm",
                    value: !0,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                }
            }
        }).then(e => {
            if(e){
                data={
                    table:'merchant',
                    cond:{ id:id },
                    data:{active:v}
                };
                $.ajax({
                    url: "/api/company/update",
                    type: "POST",
                    data:data,
                    beforeSend:function(){
                        $('.loader-kbs').fadeIn();
                    },
                    success: function (res) {
                        $('.loader-kbs').fadeOut();
                        if(res.affectedRows > 0){
                            var d=userObject[id];
                            d.active=v;
                            table.row(row).data(d).draw();
                            toastr.success("This merchant "+tex+" successfully.");
                        }else{
                            toastr.error("Something has wrong please try again.")
                        }
                    },error:function (err) {
                        $('.loader-kbs').fadeOut();
                        console.log(err);
                    }
                });
            }else{
                return false;
            }
        })
    });
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>