<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Service</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Service</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-service">Add Service</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-service">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Service Code</th>
                                            <th>Is Active</th>
                                            <th>Action</th>
                                            <th>ID</th>
<!--                                            <th>Manage Operators</th> <th>Manage Operators</th>-->
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Service</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-service-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Service Name</label>
                                <input type="text"  class="form-control" name="name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Service Code</label>
                                <input type="text"  class="form-control number-only" name="code" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    let userObject={};
    let table;

    table=$(".manage-service").DataTable({
        scrollX:!0,
        autoWidth: false,
        data: users,
        order:[[4,"desc"]],
        columns: [{
            data: "name"
        },{
            data: "code"
        }, {
            data: "active"
        }, {
            data: "Action"
        }, {
            data: "id"
        }],
        // },{
        //     data: "Manage Operators"
        // }],
        columnDefs: [{
            targets:0,
            render:function(t,a,e){
                let c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.name+'</span>';
            }
        },{
            targets:1,
            render:function(t,a,e){
                let c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.code+'</span>';
            }
        },{
            targets:2,
            render:function(t,a,e){
                let c=(e.active==1)?'success' : '';
                let h=(e.active==1)?'True' : 'False';
                return '<span class="'+c+'">'+ h +'</span>';
            }
        },{
            targets:3,
            render:function(t,a,e,d){
                let title=(e.active==1)? 'Deactive' : 'Active';
                return '<a href="javascript:;" class="badge badge-info badge-p is_active" data-active="'+e.active+'" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                    '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                    '\t\t\t\t\t\t\t</a>';
            }
        },{
            targets:4,
            visible: !1
        }]
        //     {
        //     targets: -1,
        //     render: function (t, a, e) {
        //         return '<a href="/manage-operators?id='+e.id+'&name='+e.name+'" class="badge badge-primary badge-p"  target="_blank">\n' +
        //             '\t\t\t\t\t\t\t\t<span>View Details</span>\n' +
        //             '\t\t\t\t\t\t\t</a>';
        //     }
        // }]
    });

    $(document).ready(function () {
        $.ajax({
            url:"/api/company/getService",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                userObject=arrayToObject(users,"id");
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
    })

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    // add submit

    $('#add-service-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'service',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-service').modal('hide');
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success( "Your information inserted successfully.");
                }else{
                    toastr.error( "Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    });

    // active submit

    $(document).on('click','.is_active',function (e) {
        e.preventDefault();
        let id=$(this).data('id');
        let row=$(this).data('row');
        let s=$(this).data('active');
        let tex=(s==0)? 'Activate' : 'Deactivate';
        let v=(s==0)? '1' : '0';
        swal({
            title: "Confirmation!",
            text: "Are you sure "+tex+" this service",
            icon: "info",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                },
                confirm: {
                    text: "Confirm",
                    value: !0,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                }
            }
        }).then(e => {
            if(e){
                data={
                    table:'service',
                    cond:{ id:id },
                    data:{active:v}
                };
                $.ajax({
                    url: "/api/company/update",
                    type: "POST",
                    data:data,
                    beforeSend:function(){
                        $('.loader-kbs').fadeIn();
                    },
                    success: function (res) {
                        if(res.affectedRows > 0){
                            var d=userObject[id];
                            d.active=v;
                            table.row(row).data(d).draw();
                            console.log(d);
                            toastr.success( "This service "+tex+" successfully.");
                        }else{
                            toastr.error("Something has wrong please try again.")
                        }
                        $('.loader-kbs').fadeOut();
                    },error:function (err) {
                        $('.loader-kbs').fadeOut();
                        console.log(err);
                    }
                });
            }else{
                return false;
            }
        })
    });


</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>