<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Service</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Vouchers</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>  <form id="serachvoucher"><div class="input-group mt-0">
                                                <input type="text" id="vsearch" required class="form-control" placeholder="Voucher ID" aria-label="Amount (to the nearest dollar)" name="rateperhour">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-primary btn-block"  >Search  </button>
                                                </div>
                                            </div> </form>    </li>
                                        <li><a data-action="reload" onclick="getrole()"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-service">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Voucher ID</th>
                                            <th>Transaction ID</th>
                                            <th>Amount</th>
                                            <th>Expiry</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="viewvouchers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Voucher Details</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="availe">
                        <form class="form">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">Date</label>
                                            <input type="text"   class="form-control"   id="pdate" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput2">  Transaction ID</label>
                                            <input type="text"   class="form-control"  id="transid" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Voucher ID</label>
                                            <input type="text" class="form-control"  id="voucherid" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput4">Amount</label>
                                            <input type="text"   class="form-control"  id="amt" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 vstatusnow">

                                    </div>
                                </div>

                            </div>

                            <div class="form-actions text-right">
                                <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                                    <i class="ft-x"></i> Close
                                </button>
                            </div>
                        </form>
                    </div>
                    </div>
                    </div>
                    <div class="row notavaile">
                    <div class="" style="width: 100%">
                        <h3 style="color: red;width: 100%;text-align: center" >Voucher not found</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade text-left" id="del-payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Remove Payment</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure want remove this payment?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                <input type="button" class="btn btn-outline-danger delpayment" value="Remove">
            </div>

        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    $('.loader-kbs').fadeIn();
    $(document).ready(function() {
        var tt  = $(".manage-service").DataTable({

            ajax:{url:  "/api/vouchers/get", data:{action: 'get'}, type :'post',"error": function (e) { }, "dataSrc": function (d) { return d }},

            columns: [{
                data: "date"
            },{
                data: "voucher_id"
            }, {
                data: "transaction_id"
            }, {
                data: "amount"
            },{
                data: "expiry"
            },{
                data: "status"
            }],
            columnDefs: [{
                targets:0,
                render:function(t,a,e){
                    var dates = e.date.split('T');
                    var dates_splt = dates[0].split('-');
                    return '<span >'+dates_splt[2]+'-'+dates_splt[1]+'-'+dates_splt[0]+'</span>';
                }
            },{
                targets:1,
                render:function(t,a,e){
                    return '<span  >'+e.voucher_id+'</span>';
                }
            },{
                targets:2,
                render:function(t,a,e){
                    return '<span  >'+ e.transaction_id +'</span>';
                }
            },{
                targets:3,
                render:function(t,a,e){
                    return '<span >'+ e.amount +'</span>';
                }
            },{
                targets:4,
                render:function(t,a,e){
                    var dates = e.expiry.split('T');
                    var dates_splt = dates[0].split('-');
                    return '<span >'+dates_splt[2]+'-'+dates_splt[1]+'-'+dates_splt[0]+'</span>';
                }
            },{
                targets:5,
                render:function(t,a,e){
                    var c=(e.status==1)?'Active' : 'Expired';
                    var cd=(e.status==1)?'success' : 'danger';
                    return '<a href="javascript:;" class="badge badge-'+cd+'" badge-p is_active   "  >\n' +
                        '\t\t\t\t\t\t\t\t<span>'+c+'</span>\n' +
                        '\t\t\t\t\t\t\t</a>';
                }
            }]
        });
        //  tt.columns.adjust().draw();
        $('.loader-kbs').fadeOut();
    });

    $('#serachvoucher').submit(function (e){
e.preventDefault();
        $.ajax({
            type: "post",
            url: "/api/vouchers/search",
            data:{"delpay": $('#vsearch').val()} ,
            success: function(data) {
if(data[0] && data[0]['date'])
{
    $('.availe').fadeIn();
    $('.notavaile').fadeOut();
                $('#pdate').val(data[0]['date']);
                $('#transid').val(data[0]['transaction_id']);
                $('#voucherid').val(data[0]['voucher_id']);
                $('#amt').val(data[0]['amount']);
                var vvs = ' <a href="javascript:;" class="btn btn-success btn-block" badge-p="" is_active="" "=""> <span>Active</span> </a>';
                if (data[0]['status'] == 0) {
                    vvs = ' <a href="javascript:;" class="btn btn-danger btn-block" badge-p="" is_active="" "=""> <span>Expired</span> </a>';
                }
                if (data[0]['status'] == 2) {
                    vvs = ' <a href="javascript:;" class="btn btn-primary btn-block" badge-p="" is_active="" "=""> <span>Claimed</span> </a>';
                }
                $('.vstatusnow').html(vvs);
            }
else {
    $('.availe').fadeOut();
    $('.notavaile').fadeIn();
}
                $('#viewvouchers').modal();
            }
        });
    });

</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>