<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Branch</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Branch</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-branch">Add Branch</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-branch">
                                        <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Merchant Name</th>
                                            <th>Phone Number</th>
                                            <th>Email ID</th>
                                            <th>Country</th>
                                            <th>Currency</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-branch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Branch</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-branch-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control select-merchant" name="merchant" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text" class="form-control" name="branch_name"  required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text" class="form-control number-only" name="phone" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email"  class="form-control" name="email"  required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text"  class="form-control" name="address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="select2 select-country form-control" name="country" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Currency</label>
                                <select class="select2 form-control" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-branch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Branch</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" name="edit-id" class="edit-id">
            <input type="hidden" id="row-id">

            <form id="edit-branch-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control select-merchant edit-merchant" name="merchant" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text"  class="form-control edit-name" name="branch_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text"  class="form-control edit-contact number-only" name="phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email"  class="form-control edit-email" name="email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text"  class="form-control edit-address" name="address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="select2 select-country form-control edit-country" name="country" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Currency</label>
                                <select class="select2 form-control edit-currency" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->
<% include include/script.ejs %>

<script>
    let users=[];
    let userObject={};
    let table;

    $(document).ready(function() {
        $(".select2").select2({width: '100%'});
        table=$(".manage-branch").DataTable({
            scrollX:!0,
            autoWidth: false,
            data: users,
            order:[[6,"desc"]],
            columns: [{
                data: "branch_name"
            },{
                data: "merchant"
            }, {
                data: "phone"
            }, {
                data: "email"
            }, {
                data: "country"
            }, {
                data: "currency"
            },{
                data: "id"
            }, {
                data: "Action"
            }],
            columnDefs: [{
                targets:6,
                visible: !1
            },{
                targets:1,
                render:function(t,a,e){
                    let merchant=$('.edit-merchant option[value="'+e.merchant+'"]').text();
                    return merchant;
                }
            },{
                targets: -1,
                render: function (t, a, e,d) {
                    return '<a href="javascript:;" class="edit badge badge-primary badge-p" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                        '\t\t\t\t\t\t\t</a>';
                }
            }]
        });

        $.ajax({
            url:"/api/company/getBranch",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                userObject=arrayToObject(users,"id");
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
    });

    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-name').val(d.branch_name);
        $('.edit-merchant').val(d.merchant).trigger('change');
        $('.edit-contact').val(d.phone);
        $('.edit-country').val(d.country).trigger('change');
        $('.edit-currency').val(d.currency).trigger('change');
        $('.edit-email').val(d.email);
        $('.edit-address').val(d.address);
        $('.edit-id').val(d.id);
        $('#edit-branch').modal('show');
    });

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    // add submit

    $('#add-branch-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'branch',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-branch').modal('hide');
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success("Your information inserted successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    //edit submit

    $('#edit-branch-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        id=$('.edit-id').val();
        data={
            table:'branch',
            cond:{
                id:id
            },
            data:t
        };
        $.ajax({
            url: "/api/company/update",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#edit-branch').modal('hide');
                if(res.affectedRows > 0){
                    var r=$('#row-id').val();
                    t.id=id;
                    userObject[id]=t;
                    table.row(r).data(t).draw();
                    toastr.success("Your information updated successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    });

    $.ajax({
        url:"/api/company/getMerchantSelect",
        type:'post',
        beforeSend:function(){
            $('.loader-kbs').fadeIn();
        },
        success:function(res){
            $('.loader-kbs').fadeOut();
            $.each(res,function(k,v){
                $('.select-merchant').append('<option value="'+v.id+'">'+v.name+'</option>');
            })
        },error:function(err){
            console.error(err);
        }
    });

    $.ajax({
        url:"/api/company/getCountryList",
        type:'post',
        beforeSend:function(){
            $('.loader-kbs').fadeIn();
        },
        success:function(res){
            $('.loader-kbs').fadeOut();
            $.each(res,function(k,v){
                $('.select-country').append('<option value="'+v.name+'">'+v.name+'</option>');
            })
        },error:function(err){
            console.error(err);
        }
    });

</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>