<!DOCTYPE html>
<html class="loaded" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
   <meta name="description"
      content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
   <meta name="keywords"
      content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
   <meta name="author" content="PIXINVENT">
   <title>Dashboard eCommerce - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>
   <link rel="apple-touch-icon" href="./app-assets/images/ico/apple-icon-120.png">
   <link rel="shortcut icon" type="image/x-icon"
      href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
   <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
      rel="stylesheet">
   <% include include/styles.ejs %>
</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
   data-menu="vertical-menu-modern" data-col="2-columns">
   <!-- END: Header-->
   <% include include/header.ejs %>
   <!-- BEGIN: Main Menu-->
   <% include include/left-menu.ejs %>
   <!-- Recent Transactions -->
   <div class="app-content content">
      <div class="content-wrapper">
         <div class="content-header row mb-1">
         </div>
         <div class="content-body">
            <div class="row">
               <div class="col-12">
                  <div class="card">
                     <div class="card-header">
                        <h4 class="card-title">Manage Role</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                           <ul class="list-inline mb-0">
                              <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                                    data-target="#inlineForm">Add Role</button></li>
                              <li><a data-action="reload" onclick="getrole()"><i class="ft-rotate-cw"></i></a></li>
                              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="card-content collpase show">
                        <div class="card-body card-dashboard">
                           <table class="table table-striped table-bordered manage-role">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Role Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Role</label>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
               </button>
            </div>
            <form action="#">
               <div class="modal-body">
                  <label>Role Name: </label>
                  <div class="form-group">
                     <input type="text" placeholder="Role Name" id="rolename" name="rolename" class="form-control"
                        required>
                  </div>

                  <label>Status: </label>
                  <div class="form-group">
                     <select id="projectinput5" name="interested" class="form-control">
                        <option value="1" selected="">Enable</option>
                        <option value="2">Disable</option>
                     </select>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-outline-primary" id="submitform">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>

   <!--/ Recent Transactions -->
   <% include include/footer.ejs %>

   <% include include/script.ejs %>
   <script>
      let table;
      var i = 0;
      $(document).ready(function () {
         let users = [];
         $('.loader-kbs').fadeIn();
         table = $(".manage-role").DataTable({
            scrollX: !0,
            autoWidth: false,
            data: users,
            columns: [{
               data: "id"
            }, {
               data: "role_name"
            }, {
               data: "status"
            }, {
               data: "action"
            }],
            columnDefs: [{
               targets: 0,
               render: function (t, a, e) {
                  i++;
                  return i;
               }
            }, {
               targets: -2,
               render: function (t, a, e) {
                  var title = (e.status == 1) ? 'Active' : 'Deactive';
                  var colo = (e.status == 1) ? 'primary' : 'danger';

                  return '<span class="line-height-2">' + '&nbsp;\n' +
                     '\t\t\t\t\t\t\t<a href="javascript:;" class="active is-active badge badge-' + colo + ' badge-p" data-id="' + e.status + '">\n' +
                     '\t\t\t\t\t\t\t\t<span>' + title + '</span>\n' +
                     '\t\t\t\t\t\t\t</a>\n' +
                     '\t\t\t\t\t\t</span>';
               }
            }, {
               targets: -1,
               render: function (t, a, e) {
                  var title = (e.status == 1) ? 'Enable' : 'Disable';
                  var colo = (e.status == 1) ? 'primary' : 'danger';
                  var html = '<a href="JavaScript:;"  class="edit badge badge-'+colo+' badge-p"  data-id="' + e.id + '" data-status="' + e.status + '">'+title+'</a>';

                  return '<span class="line-height-2">' + html + '</span>';
               }
            }],
            "initComplete": function (settings) {
               getrole();
            }
         });

         $("#submitform").click(function () {
            var rolename = $('#rolename').val();
            var sta = $('#projectinput5 option:selected').val();
            if (sta == 2) {
               alert('Please select enable');
            }
            $.ajax({
               url: "/api/user/insertrole",
               type: "POST",
               data: { "rolename": rolename, "status": sta },
               success: function (result) {
                  $('#inlineForm').modal('toggle');
                  if (result.affectedRows == 1 && result.insertId != 0) {
                     i++;
                     var ader = [{
                        role_name: rolename,
                        status: 1,
                        id: i
                     }];
                     toastr.success('Successfully Added');
                     table.rows.add(ader).draw();
                  } else {
                     toastr.error('Role Insert Error');
                  }
               }
            });
         });
      });

      function getrole() {
         $.ajax({
            url: "/api/user/getrole",
            type: "POST",
            success: function (result) {
               table.clear().rows.add(result).draw();
               $('.loader-kbs').fadeOut();
            },
            error: function (err) {

            }
         });
      }

      $('body').on('click', '.edit', function (e) {
         let target=e.target;
         let id=target.getAttribute('data-id');
         let status=target.getAttribute('data-status');
      
         if (status == 1) {
            status = 0;
         } else {
            status = 1;
         }
         $.ajax({
            url: "/api/user/updaterole",
            type: "POST",
            data: { "id": id, "status": status },
            success: function (result) {
               if (status == 1) {                  
                  target.setAttribute('data-status',1);
                  target.innerText='Enable';
                  toastr.success('Successfully Active Role');
               } else {                  
                  target.setAttribute('data-status',0);
                  target.innerText='Disable';
                  toastr.warning('Successfully Deactive Role');
               }

            }
         }); 
      });


   </script>
</body>
<!-- END: Body-->


</html>