<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Wallet</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Wallet</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-wallet">Add Branch</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-wallet">
                                        <thead>
                                        <tr>
                                            <th>Branch Name</th>
                                            <th>Merchant Name</th>
                                            <th>Phone Number</th>
                                            <th>Email ID</th>
                                            <th>Country</th>
                                            <th>Currency</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Wallet</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-terminal-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Owner Merchant</label>
                                <select class="select2 form-control" name="owner-merchant" required>
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                    <option value="KeyBS Dubai TEST">KeyBS Dubai TEST</option>
                                    <option value="Yasir Communication">Yasir Communication</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>TopUp Currency</label>
                                <select class="select2 form-control" name="top-currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sales Currency</label>
                                <select class="select2 form-control" name="sales-currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Wallet Status</label>
                                <select class="select2 form-control" name="wallet-status" required>
                                    <option value="Closed">Closed</option>
                                    <option value="Open">Open</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="wallet-active" class="custom-control-input" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="wallet-active" class="custom-control-input" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-Wallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Wallet</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-terminal-form">
                <input type="hidden" name="edit-id" class="edit-id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Owner Merchant</label>
                                <select class="select2 form-control edit-merchant" name="owner-merchant" required>
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                    <option value="KeyBS Dubai TEST">KeyBS Dubai TEST</option>
                                    <option value="Yasir Communication">Yasir Communication</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>TopUp Currency</label>
                                <select class="select2 form-control edit-topcur" name="top-currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sales Currency</label>
                                <select class="select2 form-control edit-salescur" name="sales-currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Wallet Status</label>
                                <select class="select2 form-control edit-status" name="Wallet-status" required>
                                    <option value="Closed">Closed</option>
                                    <option value="Open">Open</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="terminal-active" class="custom-control-input edit-yes" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="terminal-active" class="custom-control-input edit-no" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->
<script>
    let users=[];
    let userObject={};
    $('.loader-kbs').fadeIn();
    $(document).ready(function() {
        $(".select2").select2({width: '100%'});

        setTimeout(function () {
            users=[
                {
                    "branch_name": "xyz",
                    "email": "xyz@gmail.com",
                    "phone": "8876667766",
                    "address": "123 old street chennai",
                    "country": "India",
                    "currency": "USD",
                    "id" :'1',
                    "merchant":"KeyBsQatar",
                }, {
                    "branch_name": "xyz",
                    "email": "xyz@gmail.com",
                    "phone": "34567675766",
                    "address": "123 old street chennai",
                    "country": "India",
                    "currency": "USD",
                    "id" :'2',
                    "merchant":"KeyBsQatar",
                }, {
                    "branch_name": "xyz",
                    "email": "xyz@gmail.com",
                    "phone": "6777865666",
                    "address": "123 old street chennai",
                    "country": "India",
                    "currency": "USD",
                    "id" :'3',
                    "merchant":"KeyBsQatar",
                }, {
                    "branch_name": "xyz",
                    "email": "xyz@gmail.com",
                    "phone": "908967678",
                    "address": "123 old street chennai",
                    "country": "India",
                    "currency": "USD",
                    "id" :'4',
                    "merchant":"KeyBsQatar",
                }
            ];
            userObject=arrayToObject(users,"id");
            $(".manage-branch").DataTable({
                scrollX:!0,
                autoWidth: false,
                data: users,
                columns: [{
                    data: "branch_name"
                },{
                    data: "merchant"
                }, {
                    data: "phone"
                }, {
                    data: "email"
                }, {
                    data: "country"
                }, {
                    data: "currency"
                }, {
                    data: "Action"
                }],
                columnDefs: [{
                    targets: -1,
                    render: function (t, a, e) {
                        return '<a href="javascript:;" class="edit badge badge-primary badge-p" data-id='+e.id+'>\n' +
                            '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                            '\t\t\t\t\t\t\t</a>';
                    }
                }]
            })
            $('.loader-kbs').fadeOut();
        },2000);
    });

    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-name').val(d.branch_name);
        $('.edit-merchant').val(d.merchant).trigger('change');
        $('.edit-contact').val(d.phone);
        $('.edit-country').val(d.country).trigger('change');
        $('.edit-currency').val(d.currency).trigger('change');
        $('.edit-email').val(d.email);
        $('.edit-address').val(d.address);
        $('.edit-id').val(d.id);
        $('#edit-branch').modal('show');
    });

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>