<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Terminal</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">

    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
    <style>
        .kisok,.e-kisok{
            display:none;
        }
    </style>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage TalabatUser</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-user">Add TalabatUser</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-user">
                                        <thead>
                                        <tr>
                                            <th>User Name</th>
                                            <th>User ID</th>
                                            <th>Is Active</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add TalabatUser</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-user-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text"  class="form-control" name="username" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text"  class="form-control number-only" name="userId" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit TalabatUser</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" id="row-id">
            <input type="hidden" name="edit-id" class="edit-id">

            <form id="edit-user-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text"  class="form-control edit-name" name="username" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="text"  class="form-control number-only edit-uid" name="userId" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input edit-yes" value="1" id="yes1">
                                        <label class="custom-control-label" for="yes1">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input edit-no" value="0" id="no1" checked>
                                        <label class="custom-control-label" for="no1">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    let userObject={};
    let table;

    table = $(".manage-user").DataTable({
        scrollX:!0,
        autoWidth: false,
        data: users,
        order:[[3,"desc"]],
        columns: [{
            data: "username"
        },{
            data: "userId"
        },{
            data: "active"
        },{
            data: "id"
        },{
            data: "Action"
        }],
        columnDefs: [{
            targets:0,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.username+'</span>';
            }
        },{
            targets:1,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.userId+'</span>';
            }
        },{
            targets:2,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                var h=(e.active==1)?'True' : 'False';
                return '<span class="'+c+'">'+ h +'</span>';
            }
        },{
            targets:3,
            visible: !1
        },{
            targets: -1,
            render: function (t, a, e,d){
                var title=(e.active==1)? 'Deactive' : 'Active';
                var html='<a href="javascript:;" class="edit badge badge-primary badge-p" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                    '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                    '\t\t\t\t\t\t\t</a>';

                return '<span class="line-height-2">'+ html +'&nbsp;\n' +
                    '\t\t\t\t\t\t\t<a href="javascript:;" class="is-active badge badge-info badge-p" data-active="'+e.active+'" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                    '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                    '\t\t\t\t\t\t\t</a>\n' +
                    '\t\t\t\t\t\t</span>';
            }
        }]
    });

    $.ajax({
        url:"/api/company/getTalabatUser",
        type:'post',
        beforeSend:function(){
            $('.loader-kbs').fadeIn();
        },
        success:function(res){
            users=res;
            userObject=arrayToObject(users,"id");
            table.clear().rows.add(res).draw();
            $('.loader-kbs').fadeOut();
        },error:function(err){
            console.error(err);
        }
    });


    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-name').val(d.username);
        $('.edit-uid').val(d.userId);
        $('.edit-id').val(d.id);
        if(d.active==1){
            $('.edit-yes').prop('checked',true);
        }else{
            $('.edit-no').prop('checked',true);
        }
        $('#row-id').val($(this).data('row'));
        $('#edit-user').modal('show');
    });

    // add submit

    $('#add-user-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'talabatUser',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-user').modal('hide');
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success("Success", "Your information inserted successfully.");
                }else{
                    toastr.error("Error", "Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    //edit submit

    $('#edit-user-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        id=$('.edit-id').val();
        data={
            table:'talabatUser',
            cond:{
                id:id
            },
            data:t
        };
        $.ajax({
            url: "/api/company/update",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#edit-user').modal('hide');
                if(res.affectedRows > 0){
                    var r=$('#row-id').val();
                    t.id=id;
                    userObject[id]=t;
                    table.row(r).data(t).draw();
                    toastr.success("Success", "Your information updated successfully.");
                }else{
                    toastr.error("Error", "Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    // active submit

    $(document).on('click','.is-active',function (e) {
        e.preventDefault();
        let id=$(this).data('id');
        let row=$(this).data('row');
        let s=$(this).data('active');
        let tex=(s==0)? 'Activate' : 'Deactivate';
        let v=(s==0)? '1' : '0';
        swal({
            title: "Confirmation!",
            text: "Are you sure "+tex+" this User",
            icon: "info",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                },
                confirm: {
                    text: "Confirm",
                    value: !0,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                }
            }
        }).then(e => {
            if(e){
                data={
                    table:'talabatUser',
                    cond:{ id:id },
                    data:{active:v}
                };
                $.ajax({
                    url: "/api/company/update",
                    type: "POST",
                    data:data,
                    beforeSend:function(){
                        $('.loader-kbs').fadeIn();
                    },
                    success: function (res) {
                        if(res.affectedRows > 0){
                            var d=userObject[id];
                            d.active=v;
                            table.row(row).data(d).draw();
                            toastr.success("Success", "This user "+tex+" successfully.");
                        }else{
                            toastr.error("Error", "Something has wrong please try again.")
                        }
                        $('.loader-kbs').fadeOut();
                    },error:function (err) {
                        $('.loader-kbs').fadeOut();
                        console.log(err);
                    }
                });
            }else{
                return false;
            }
        })
    })
</script>
</body>
<!-- END: Body-->

</html>