<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Session</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Session</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-session">Add Session</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-session">
                                        <thead>
                                        <tr>
                                            <th>Session Record ID</th>
                                            <th>Terminal ID</th>
                                            <th>Merchant Name</th>
                                            <th>Branch Name</th>
                                            <th>Total Cash In</th>
                                            <th>Open Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-session" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Session</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-session-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Terminal ID</label>
                                <select class="select2 form-control terminal-id" name="terminal-id[]" required>
                                    <option value=""></option>
                                    <option value="10000293">10000293</option>
                                    <option value="10000294">10000294</option>
                                    <option value="10000295">10000295</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="add-terminal">

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                               <button type="button" class="btn btn-secondary add-more">Add More</button> &nbsp;
                                <button  type="button" class="btn btn-danger hidden remove-more">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-branch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Branch</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-terminal-form">
                <input type="hidden" name="edit-id" class="edit-id">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Merchant</label>
                                <select class="select2 form-control edit-merchant" name="branch-merchant" required>
                                    <option value=""></option>
                                    <option value="KeyBsQatar">KeyBsQatar</option>
                                    <option value="KeyBS Dubai TEST">KeyBS Dubai TEST</option>
                                    <option value="Yasir Communication">Yasir Communication</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Branch Name</label>
                                <input type="text"  class="form-control edit-name" name="branch-name" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <input type="text"  class="form-control edit-contact" name="branch-phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email"  class="form-control edit-email" name="branch-email" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text"  class="form-control edit-address" name="branch-address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="select2 form-control edit-country" name="branch-country" required>
                                    <option value=""></option>
                                    <option value="Lebanon">Lebanon</option>
                                    <option value="India">India</option>
                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                    <option value="Anguilla">Anguilla</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Currency</label>
                                <select class="select2 form-control edit-currency" name="branch-currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    let userObject={};
    $('.loader-kbs').fadeIn();
    $(document).ready(function() {
        $(".select2").select2({width: '100%'});
        setTimeout(function () {
            users=[
                {
                    "session_id": "3006",
                    "tid": "10000123",
                    "merchant": "Jaal Phone",
                    "branch": "Jaal Phone-Al Khor Branch",
                    "total": "4000",
                    "open_date": "05/03/2019",
                    "id" :'1'
                }, {
                    "session_id": "3007",
                    "tid": "10000127",
                    "merchant": "Jaal Phone",
                    "branch": "Jaal Phone-Al Khor Branch",
                    "total": "4000",
                    "open_date": "05/03/2019",
                    "id" :'2'
                }, {
                    "session_id": "3007",
                    "tid": "10000129",
                    "merchant": "Jaal Phone",
                    "branch": "Jaal Phone-Al Khor Branch",
                    "total": "4000",
                    "open_date": "05/03/2019",
                    "id" :'3'
                }, {
                    "session_id": "3008",
                    "tid": "10000124",
                    "merchant": "Jaal Phone",
                    "branch": "Jaal Phone-Al Khor Branch",
                    "total": "4000",
                    "open_date": "05/03/2019",
                    "id" :'4'
                }
            ];
           // userObject=arrayToObject(users,"id");
            $(".manage-session").DataTable({
                scrollX:!0,
                autoWidth: false,
                data: users,
                columns: [{
                    data: "session_id"
                },{
                    data: "tid"
                }, {
                    data: "merchant"
                }, {
                    data: "branch"
                }, {
                    data: "total"
                }, {
                    data: "open_date"
                }, {
                    data: "Action"
                }],
                columnDefs: [{
                    targets: -1,
                    render: function (t, a, e) {
                        return '<a href="session-details" class="badge badge-primary badge-p">\n' +
                            '\t\t\t\t\t\t\t\t<span>View Details</span>\n' +
                            '\t\t\t\t\t\t\t</a>';
                    }
                }]
            })
            $('.loader-kbs').fadeOut();
        },2000);
    });
    $('.loader-kbs').fadeOut();
    $('.add-more').on('click',function(){
        if($('#add-session-form')[0].checkValidity()){
            $('.add-terminal').append('<div class="row">\n' +
                '                        <div class="col-md-12">\n' +
                '                            <div class="form-group">\n' +
                '                                <label>Terminal ID</label>\n' +
                '                                <select class="select2 form-control terminal-id" name="terminal-id[]" required>\n' +
                '                                    <option value=""></option>\n' +
                '                                    <option value="10000293">10000293</option>\n' +
                '                                    <option value="10000294">10000294</option>\n' +
                '                                    <option value="10000295">10000295</option>\n' +
                '                                </select>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>');
            var len=$('.terminal-id').length;
            if(len > 1){
                $('.remove-more').removeClass('hidden');
            }
        }else {
            $('#add-session-form')[0].reportValidity();
        }
    });

    $('.remove-more').on('click',function(){
        $('.add-terminal .row').last().remove();
        var len=$('.terminal-id').length;
        if(len == 1){
            $('.remove-more').addClass('hidden');
        }
    });


    // $(document).on('click','.edit',function(){
    //     var c=$(this).data('id');
    //     var d=userObject[c];
    //     $('.edit-name').val(d.branch_name);
    //     $('.edit-merchant').val(d.merchant).trigger('change');
    //     $('.edit-contact').val(d.phone);
    //     $('.edit-country').val(d.country).trigger('change');
    //     $('.edit-currency').val(d.currency).trigger('change');
    //     $('.edit-email').val(d.email);
    //     $('.edit-address').val(d.address);
    //     $('.edit-id').val(d.id);
    //     $('#edit-branch').modal('show');
    // });

    // function arrayToObject(data,key){
    //     let obj={};
    //     data.forEach(function(item){
    //         obj[item[key]]=item;
    //     });
    //     return obj;
    // }
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>