<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Product</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Branch</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-product">Add Product</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-product">
                                        <thead>
                                        <tr>
                                            <th>Product Name</th>
                                            <th>Product Code</th>
                                            <th>Service Name</th>
                                            <th>Operator Name</th>
                                            <th>Currency Code</th>
                                            <th>Price</th>
                                            <th>Min price</th>
                                            <th>Max price</th>
                                            <th>Is Active</th>
                                            <th>Has Stock</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Product</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-product-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Name</label>
                                  <input type="text" class="form-control" name="name"  required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service</label>
                                <select class="select2 select-service form-control" name="service" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" class="form-control" name="code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase Currency</label>
                                <select class="select2 form-control" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number"  class="form-control" name="price" value="0.000">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Minimum Price</label>
                                <input type="number"  class="form-control" name="min_price" value="0.000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Maximum Price</label>
                                 <input type="number"  class="form-control" name="max_price" value="0.000">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost</label>
                                 <input type="number"  class="form-control" name="cost" value="0.000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost Percentage</label>
                                 <input type="text"  class="form-control" name="percentage" required>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Display Member</label>
                                 <input type="text"  class="form-control" name="member">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operator</label>
                                 <select class="select2 select-operator form-control" name="operator" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Has Stock</label>
                                  <div class="input-group">
                                     <div class="d-inline-block custom-control custom-radio mr-1">
                                         <input type="radio" name="stock" class="custom-control-input" value="1" id="yes">
                                         <label class="custom-control-label" for="yes">Yes</label>
                                     </div>
                                     <div class="d-inline-block custom-control custom-radio">
                                         <input type="radio" name="stock" class="custom-control-input" value="0" id="no" checked>
                                         <label class="custom-control-label" for="no">No</label>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Is Active</label>
                              <div class="input-group">
                                   <div class="d-inline-block custom-control custom-radio mr-1">
                                       <input type="radio" name="active" class="custom-control-input" value="1" id="yes1">
                                       <label class="custom-control-label" for="yes1">Yes</label>
                                   </div>
                                   <div class="d-inline-block custom-control custom-radio">
                                       <input type="radio" name="active" class="custom-control-input" value="0" id="no1" checked>
                                       <label class="custom-control-label" for="no1">No</label>
                                   </div>
                               </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                                  <label>Is Calcualted Selling Price</label>
                                   <div class="input-group">
                                        <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" name="calculate_price" class="custom-control-input" value="1" id="yes2">
                                            <label class="custom-control-label" for="yes2">Yes</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" name="calculate_price" class="custom-control-input" value="0" id="no2" checked>
                                            <label class="custom-control-label" for="no2">No</label>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Branch</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" name="edit-id" class="edit-id">
            <input type="hidden" id="row-id">

            <form id="edit-product-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Name</label>
                                  <input type="text" class="form-control edit-name" name="name"  required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Service</label>
                                <select class="select2 form-control select-service  edit-service" name="service" required>
                                    <option value=""></option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" class="form-control edit-code" name="code" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase Currency</label>
                                <select class="select2 form-control edit-currency" name="currency" required>
                                    <option value="QAR">QAR</option>
                                    <option value="AED">AED</option>
                                    <option value="KWD">KWD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number"  class="form-control edit-price" name="price" value="0.000">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Minimum Price</label>
                                <input type="number"  class="form-control edit-minimum" name="min_price" value="0.000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Maximum Price</label>
                                 <input type="number"  class="form-control edit-maximum" name="max_price" value="0.000">
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost</label>
                                 <input type="number"  class="form-control edit-cost" name="cost" value="0.000">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cost Percentage</label>
                                 <input type="text"  class="form-control edit-percentage" name="percentage" required>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Display Member</label>
                                 <input type="text"  class="form-control edit-member" name="member">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Operator</label>
                                 <select class="select2 form-control select-operator edit-operator" name="operator" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label>Has Stock</label>
                                  <div class="input-group">
                                     <div class="d-inline-block custom-control custom-radio mr-1">
                                         <input type="radio" name="stock" class="custom-control-input edit-yes3" value="1" id="yes3">
                                         <label class="custom-control-label" for="yes3">Yes</label>
                                     </div>
                                     <div class="d-inline-block custom-control custom-radio">
                                         <input type="radio" name="stock" class="custom-control-input edit-no3" value="0" id="no3">
                                         <label class="custom-control-label" for="no3">No</label>
                                     </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                              <label>Is Active</label>
                              <div class="input-group">
                                   <div class="d-inline-block custom-control custom-radio mr-1">
                                       <input type="radio" name="active" class="custom-control-input edit-yes4" value="1" id="yes4">
                                       <label class="custom-control-label" for="yes4">Yes</label>
                                   </div>
                                   <div class="d-inline-block custom-control custom-radio">
                                       <input type="radio" name="active" class="custom-control-input edit-no4" value="0" id="no4">
                                       <label class="custom-control-label" for="no4">No</label>
                                   </div>
                               </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                              <div class="form-group">
                                  <label>Is Calcualted Selling Price</label>
                                   <div class="input-group">
                                        <div class="d-inline-block custom-control custom-radio mr-1">
                                            <input type="radio" name="calculate_price" class="custom-control-input edit-yes5" value="1" id="yes5">
                                            <label class="custom-control-label" for="yes5">Yes</label>
                                        </div>
                                        <div class="d-inline-block custom-control custom-radio">
                                            <input type="radio" name="calculate_price" class="custom-control-input edit-no5" value="0" id="no5">
                                            <label class="custom-control-label" for="no5">No</label>
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    let userObject={};
    let table;

    $(document).ready(function() {
        $(".select2").select2({width: '100%'});

        table= $(".manage-product").DataTable({
            scrollX:!0,
            autoWidth: false,
            data: users,
            order:[[10,"desc"]],
            columns: [{
                data: "name"
            },{
                data: "code"
            }, {
                data: "service"
            }, {
                data: "operator"
            }, {
                data: "currency"
            }, {
                data: "price"
            }, {
                data: "min_price"
            },{
                data: "max_price"
            }, {
                data: "active"
            }, {
                data: "stock"
            },{
                data: "id"
            }, {
                data: "Action"
            }],
            columnDefs: [{
                targets:0,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.name+'</span>';
                }
            },{
                targets:1,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.code+'</span>';
                }
            },{
                targets:2,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    let service=$('.edit-service option[value="'+e.service+'"]').text();
                    return '<span class="'+c+'">'+service+'</span>';
                }
            },{
                targets:3,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    let operator=$('.edit-operator option[value="'+e.operator+'"]').text();
                    return '<span class="'+c+'">'+operator+'</span>';
                }
            },{
                targets:4,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.currency+'</span>';
                }
            },{
                targets:5,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.price+'</span>';
                }
            },{
                targets:6,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.min_price+'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    return '<span class="'+c+'">'+e.max_price+'</span>';
                }
            },{
                targets:8,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    let h=(e.active==1)?'True' : 'False';
                    return '<span class="'+c+'">'+ h +'</span>';
                }
            },{
                targets:9,
                render:function(t,a,e){
                    let c=(e.active==1)?'success' : '';
                    let h=(e.stock==1)?'True' : 'False';
                    return '<span class="'+c+'">'+ h +'</span>';
                }
            },{
                targets:10,
                visible: !1
            },{
                targets: -1,
                render: function (t, a, e,d) {
                    let title=(e.active==1)? 'Deactive' : 'Active';
                    let html='<a href="javascript:;" class="edit badge badge-primary badge-p" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>Edit</span>\n' +
                        '\t\t\t\t\t\t\t</a>';

                    return '<span class="line-height-2">'+ html +'&nbsp;\n' +
                        '\t\t\t\t\t\t\t<a href="javascript:;" class="is-active badge badge-info badge-p" data-active="'+e.active+'" data-id="'+e.id+'" data-row="'+d.row+'">\n' +
                        '\t\t\t\t\t\t\t\t<span>'+title+'</span>\n' +
                        '\t\t\t\t\t\t\t</a>\n' +
                        '\t\t\t\t\t\t</span>';
                }
            }]
        });

        $.ajax({
            url:"/api/company/getProduct",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                userObject=arrayToObject(users,"id");
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
        $.ajax({
            url:"/api/company/getServiceSelect",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                $('.loader-kbs').fadeOut();
                $.each(res,function(k,v){
                    $('.select-service').append('<option value="'+v.code+'">'+v.name+'</option>');
                })
            },error:function(err){
                console.error(err);
            }
        });
        $.ajax({
            url:"/api/company/getOperator",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                $('.loader-kbs').fadeOut();
                $.each(res,function(k,v){
                    $('.select-operator').append('<option value="'+v.code+'">'+v.name+'</option>');
                })
            },error:function(err){
                console.error(err);
            }
        });
    });


    $(document).on('click','.edit',function(){
        var c=$(this).data('id');
        var d=userObject[c];
        $('.edit-name').val(d.name);
        $('.edit-service').val(d.service).trigger('change');
        $('.edit-code').val(d.code);
        $('.edit-price').val(d.price);
        $('.edit-minimum').val(d.min_price);
        $('.edit-maximum').val(d.max_price);
        $('.edit-cost').val(d.cost);
        $('.edit-percentage').val(d.percentage);
        $('.edit-member').val(d.member);
        $('.edit-operator').val(d.operator).trigger('change');
        $('.edit-id').val(d.id);
        if(d.stock==1){
            $('.edit-yes3').prop('checked',true);
        }else{
            $('.edit-no3').prop('checked',true);
        }
        if(d.active==1){
            $('.edit-yes4').prop('checked',true);
        }else{
            $('.edit-no4').prop('checked',true);
        }
        if(d.calculate_price==1){
            $('.edit-yes5').prop('checked',true);
        }else{
            $('.edit-no5').prop('checked',true);
        }
        $('#edit-product').modal('show');
    });

    function arrayToObject(data,key){
        let obj={};
        data.forEach(function(item){
            obj[item[key]]=item;
        });
        return obj;
    }

    // add submit

    $('#add-product-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'product',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-product').modal('hide');
                if(res.insertId > 0){
                    in_d=res.insertId;
                    t.id=in_d;
                    userObject[in_d]=t;
                    table.rows.add([t]).draw();
                    toastr.success("Your information inserted successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    //edit submit

    $('#edit-product-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        id=$('.edit-id').val();
        data={
            table:'product',
            cond:{
                id:id
            },
            data:t
        };
        $.ajax({
            url: "/api/company/update",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#edit-product').modal('hide');
                if(res.affectedRows > 0){
                    var r=$('#row-id').val();
                    t.id=id;
                    userObject[id]=t;
                    table.row(r).data(t).draw();
                    toastr.success("Your information updated successfully.");
                }else{
                    toastr.error("Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    })

    // active submit

    $(document).on('click','.is-active',function (e) {
        e.preventDefault();
        let id=$(this).data('id');
        let row=$(this).data('row');
        let s=$(this).data('active');
        let tex=(s==0)? 'Activate' : 'Deactivate';
        let v=(s==0)? '1' : '0';
        swal({
            title: "Confirmation!",
            text: "Are you sure "+tex+" this product",
            icon: "info",
            buttons: {
                cancel: {
                    text: "Cancel",
                    value: null,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                },
                confirm: {
                    text: "Confirm",
                    value: !0,
                    visible: !0,
                    className: "",
                    // closeModal: !1
                }
            }
        }).then(e => {
            if(e){
                data={
                    table:'product',
                    cond:{ id:id },
                    data:{active:v}
                };
                $.ajax({
                    url: "/api/company/update",
                    type: "POST",
                    data:data,
                    beforeSend:function(){
                        $('.loader-kbs').fadeIn();
                    },
                    success: function (res) {
                        if(res.affectedRows > 0){
                            let d=userObject[id];
                            d.active=v;
                            table.row(row).data(d).draw();
                            toastr.success( "This product "+tex+" successfully.");
                        }else{
                            toastr.error("Something has wrong please try again.")
                        }
                        $('.loader-kbs').fadeOut();
                    },error:function (err) {
                        $('.loader-kbs').fadeOut();
                        console.log(err);
                    }
                });
            }else{
                return false;
            }
        })
    })
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>