<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Agreement</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->
<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Manage Agreement</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#add-agreement">Add Agreement</button></li>
                                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-agreement">
                                        <thead>
                                        <tr>
                                            <th>First PartyName</th>
                                            <th>Second PartyName</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Agreement Type</th>
                                            <th>Comment</th>
                                            <th>Is Active</th>
                                            <th>ID</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="add-agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Add Agreement</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-agreement-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Party Name</label>
                                <select class="select2 select-merchant form-control" name="first_partyname" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Second Party Name</label>
                                <select class="select2 select-merchant form-control" name="second_partyname" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="text" class="form-control common-date" name="start_date" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="text"  class="form-control common-date" name="end_date"  required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Agreement Type</label>
                                <select class="select2 form-control" name="agreement_type" required>
                                    <option value=""></option>
                                    <option value="Owner-ServiceProvider">Owner-ServiceProvider</option>
                                    <option value="OwnerMerchant">OwnerMerchant</option>
                                    <option value="Merchant-Merchant">Merchant-Merchant</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control" name="comment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade text-left" id="edit-agreement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Edit Agreement</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <input type="hidden" name="edit-id" class="edit-id">
            <input type="hidden" name="row-id" class="row-id">

            <form id="edit-agreement-form">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Party Name</label>
                                <select class="select2 select-merchant form-control edit-first" name="first_partyname" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Second Party Name</label>
                                <select class="select2 select-merchant form-control edit-second" name="second_partyname" required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="text" class="form-control common-date edit-start" name="start_date" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="text"  class="form-control common-date edit-end" name="end_date"  required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Agreement Type</label>
                                <select class="select2 form-control edit-type" name="agreement_type" required>
                                    <option value=""></option>
                                    <option value="Owner-ServiceProvider">Owner-ServiceProvider</option>
                                    <option value="OwnerMerchant">OwnerMerchant</option>
                                    <option value="Merchant-Merchant">Merchant-Merchant</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Is Active</label>
                                <div class="input-group">
                                    <div class="d-inline-block custom-control custom-radio mr-1">
                                        <input type="radio" name="active" class="custom-control-input edit-yes" value="1" id="yes">
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="d-inline-block custom-control custom-radio">
                                        <input type="radio" name="active" class="custom-control-input edit-no" value="0" id="no" checked>
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control edit-comment" name="comment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->
<% include include/script.ejs %>

<script>

    let table;
    let users;

    table= $(".manage-agreement").DataTable({
        scrollX:!0,
        autoWidth: false,
        data: users,
        order:[[7,"desc"]],
        columns: [{
            data: "first_partyname"
        },{
            data: "second_partyname"
        }, {
            data: "start_date"
        }, {
            data: "end_date"
        }, {
            data: "agreement_type"
        }, {
            data: "comment"
        },{
            data: "active"
        },{
            data: "id"
        },{
            data: "Action"
        }],
        columnDefs: [{
            targets:0,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                let merchant=$('.select-merchant option[value="'+e.first_partyname+'"]').text();
                return '<span class="'+c+'">'+merchant+'</span>';
            }
        },{
            targets:1,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                let merchant=$('.select-merchant option[value="'+e.second_partyname+'"]').text();
                return '<span class="'+c+'">'+merchant+'</span>';
            }
        },{
            targets:2,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.start_date+'</span>';
            }
        },{
            targets:3,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.end_date+'</span>';
            }
        },{
            targets:4,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.agreement_type+'</span>';
            }
        },{
            targets:5,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                return '<span class="'+c+'">'+e.comment+'</span>';
            }
        },{
            targets:6,
            render:function(t,a,e){
                var c=(e.active==1)?'success' : '';
                var h=(e.active==1)?'True' : 'False';
                return '<span class="'+c+'">'+ h +'</span>';
            }
        },{
            targets:7,
            visible: !1
        },{
            targets: -1,
            render: function (t, a, e) {
                return '<span class="line-height-2"><a href="manage-service" class="badge badge-primary badge-p">\n' +
                    '\t\t\t\t\t\t\t\t<span>Services</span>\n' +
                    '\t\t\t\t\t\t\t</a>'+
                    '\t\t\t\t\t\t\t<a href="manage-product" class="badge badge-info badge-p" >\n' +
                    '\t\t\t\t\t\t\t\t<span>Products</span>\n' +
                    '\t\t\t\t\t\t\t</a>\n' +
                    '\t\t\t\t\t\t</span>';
            }
        }]
    });


    $(document).ready(function() {
        $(".select2").select2({width: '100%'});
        $(".common-date").datetimepicker({viewMode:"years",format:"DD/MM/YYYY"});
        $.ajax({
            url:"/api/company/getAgreement",
            type:'post',
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success:function(res){
                users=res;
                table.clear().rows.add(res).draw();
                $('.loader-kbs').fadeOut();
            },error:function(err){
                console.error(err);
            }
        });
    });

    $('#add-agreement-form').submit(function (e) {
        e.preventDefault();
        t=$(this).serializeObject();
        data={
            table:'agreement',
            data:t
        };
        $.ajax({
            url: "/api/company/insert",
            type: "POST",
            data:data,
            beforeSend:function(){
                $('.loader-kbs').fadeIn();
            },
            success: function (res) {
                $('#add-agreement').modal('hide');
                if(res.insertId > 0){
                    t.id=res.insertId;
                    table.rows.add([t]).draw();
                    toastr.success( "Your information inserted successfully.");
                }else{
                    toastr.error( "Something has wrong please try again.")
                }
                $('.loader-kbs').fadeOut();
            },error:function (err) {
                $('.loader-kbs').fadeOut();
                console.log(err);
            }
        });
    });

    $.ajax({
        url:"/api/company/getMerchantSelect",
        type:'post',
        beforeSend:function(){
            $('.loader-kbs').fadeIn();
        },
        success:function(res){
            $('.loader-kbs').fadeOut();
            $.each(res,function(k,v){
                $('.select-merchant').append('<option value="'+v.id+'">'+v.name+'</option>');
            })
        },error:function(err){
            console.error(err);
        }
    });

    //
    // $(document).on('click','.edit',function(){
    //     var c=$(this).data('id');
    //     var d=userObject[c];
    //     $('.edit-name').val(d.branch_name);
    //     $('.edit-merchant').val(d.merchant).trigger('change');
    //     $('.edit-contact').val(d.phone);
    //     $('.edit-country').val(d.country).trigger('change');
    //     $('.edit-currency').val(d.currency).trigger('change');
    //     $('.edit-email').val(d.email);
    //     $('.edit-address').val(d.address);
    //     $('.edit-id').val(d.id);
    //     $('#edit-branch').modal('show');
    // });
    //
    // function arrayToObject(data,key){
    //     let obj={};
    //     data.forEach(function(item){
    //         obj[item[key]]=item;
    //     });
    //     return obj;
    // }
</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>