<html class="loaded" lang="en" data-textdirection="ltr"><!-- BEGIN: Head--><head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
      <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
      <meta name="author" content="PIXINVENT">
      <title>Dashboard eCommerce - Modern Admin - Clean Bootstrap 4 Dashboard HTML Template + Bitcoin Dashboard</title>
      <link rel="apple-touch-icon" href="../app-assets/images/ico/apple-icon-120.png">
      <link rel="shortcut icon" type="image/x-icon" href="../app-assets/images/ico/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
  
      <!-- BEGIN: Vendor CSS-->
      <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/vendors.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/weather-icons/climacons.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/fonts/meteocons/style.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/charts/morris.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/charts/chartist.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/charts/chartist-plugin-tooltip.css">
      <!-- END: Vendor CSS-->
  
      <!-- BEGIN: Theme CSS-->
      <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/bootstrap-extended.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/colors.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/components.min.css">
      <!-- END: Theme CSS-->
  
      <!-- BEGIN: Page CSS-->
      <link rel="stylesheet" type="text/css" href="../app-assets/css/core/menu/menu-types/vertical-menu-modern.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/core/colors/palette-gradient.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/core/colors/palette-gradient.min.css">
      <link rel="stylesheet" type="text/css" href="../app-assets/css/pages/timeline.min.css">
      <!-- END: Page CSS-->
  
    </head>
    <!-- END: Head-->
  
    <!-- BEGIN: Body-->
    <body class="vertical-layout vertical-menu-modern 2-columns fixed-navbar pace-done menu-expanded" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
    <div class="pace-progress-inner"></div>
  </div>
  <div class="pace-activity"></div></div>
  
      <!-- BEGIN: Header-->
      <nav class="header-navbar navbar-expand-lg navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
          <div class="navbar-header expanded">
            <ul class="nav navbar-nav flex-row">
              <li class="nav-item mobile-menu d-lg-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a></li>
              <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="modern admin logo" src="../../../app-assets/images/logo/logo.png">
                  <h3 class="brand-text">Modern Admin</h3></a></li>
              <li class="nav-item d-none d-lg-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon font-medium-3 white ft-toggle-right" data-ticon="ft-toggle-right"></i></a></li>
              <li class="nav-item d-lg-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
            </ul>
          </div>
          <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
              <ul class="nav navbar-nav mr-auto float-left">
                <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                <li class="dropdown nav-item mega-dropdown d-none d-lg-block"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Mega</a>
                  <ul class="mega-dropdown-menu dropdown-menu row">
                    <li class="col-md-2">
                      <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-newspaper-o"></i> News</h6>
                      <div id="mega-menu-carousel-example">
                        <div><img class="rounded img-fluid mb-1" src="../../../app-assets/images/slider/slider-2.png" alt="First slide"><a class="news-title mb-0 d-block" href="#">Poster Frame PSD</a>
                          <p class="news-content"><span class="font-small-2">January 26, 2018</span></p>
                        </div>
                      </div>
                    </li>
                    <li class="col-md-3">
                      <h6 class="dropdown-menu-header text-uppercase"><i class="la la-random"></i> Menu</h6>
                      <ul>
                        <li class="menu-list">
                          <ul>
                            <li><a class="dropdown-item" href="layout-fixed.html"><i class="ft-file"></i> Page layouts</a></li>
                            <li><a class="dropdown-item" href="color-palette-primary.html"><i class="ft-camera"></i> Color palette</a></li>
                            <li><a class="dropdown-item" href="layout-2-columns.html"><i class="ft-edit"></i> Starter kit</a></li>
                            <li><a class="dropdown-item" href="changelog.html"><i class="ft-minimize-2"></i> Change log</a></li>
                            <li><a class="dropdown-item" href="https://pixinvent.ticksy.com/"><i class="la la-life-ring"></i> Support center</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="col-md-3">
                      <h6 class="dropdown-menu-header text-uppercase"><i class="la la-list-ul"></i> Accordion</h6>
                      <div class="mt-1" id="accordionWrap" role="tablist" aria-multiselectable="true">
                        <div class="card border-0 box-shadow-0 collapse-icon accordion-icon-rotate">
                          <div class="card-header p-0 pb-2 border-0" id="headingOne" role="tab"><a data-toggle="collapse" href="#accordionOne" aria-expanded="true" aria-controls="accordionOne">Accordion Item #1</a></div>
                          <div class="card-collapse collapse show" id="accordionOne" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionWrap" aria-expanded="true">
                            <div class="card-content">
                              <p class="accordion-text text-small-3">Caramels dessert chocolate cake pastry jujubes bonbon. Jelly wafer jelly beans. Caramels chocolate cake liquorice cake wafer jelly beans croissant apple pie.</p>
                            </div>
                          </div>
                          <div class="card-header p-0 pb-2 border-0" id="headingTwo" role="tab"><a class="collapsed" data-toggle="collapse" href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">Accordion Item #2</a></div>
                          <div class="card-collapse collapse" id="accordionTwo" role="tabpanel" data-parent="#accordionWrap" aria-labelledby="headingTwo" aria-expanded="false">
                            <div class="card-content">
                              <p class="accordion-text">Sugar plum bear claw oat cake chocolate jelly tiramisu dessert pie. Tiramisu macaroon muffin jelly marshmallow cake. Pastry oat cake chupa chups.</p>
                            </div>
                          </div>
                          <div class="card-header p-0 pb-2 border-0" id="headingThree" role="tab"><a class="collapsed" data-toggle="collapse" href="#accordionThree" aria-expanded="false" aria-controls="accordionThree">Accordion Item #3</a></div>
                          <div class="card-collapse collapse" id="accordionThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionWrap" aria-expanded="false">
                            <div class="card-content">
                              <p class="accordion-text">Candy cupcake sugar plum oat cake wafer marzipan jujubes lollipop macaroon. Cake dragée jujubes donut chocolate bar chocolate cake cupcake chocolate topping.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="col-md-4">
                      <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-envelope-o"></i> Contact Us</h6>
                      <form class="form form-horizontal">
                        <div class="form-body">
                          <div class="form-group row">
                            <label class="col-sm-3 form-control-label" for="inputName1">Name</label>
                            <div class="col-sm-9">
                              <div class="position-relative has-icon-left">
                                <input class="form-control" type="text" id="inputName1" placeholder="John Doe">
                                <div class="form-control-position pl-1"><i class="la la-user"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3 form-control-label" for="inputEmail1">Email</label>
                            <div class="col-sm-9">
                              <div class="position-relative has-icon-left">
                                <input class="form-control" type="email" id="inputEmail1" placeholder="john@example.com">
                                <div class="form-control-position pl-1"><i class="la la-envelope-o"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-3 form-control-label" for="inputMessage1">Message</label>
                            <div class="col-sm-9">
                              <div class="position-relative has-icon-left">
                                <textarea class="form-control" id="inputMessage1" rows="2" placeholder="Simple Textarea"></textarea>
                                <div class="form-control-position pl-1"><i class="la la-commenting-o"></i></div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12 mb-1">
                              <button class="btn btn-info float-right" type="button"><i class="la la-paper-plane-o"></i> Send          </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </li>
                  </ul>
                </li>
                <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                  <div class="search-input">
                    <input class="input" type="text" placeholder="Explore Modern...">
                  </div>
                </li>
              </ul>
              <ul class="nav navbar-nav float-right">
                <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span class="selected-language"></span></a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a></div>
                </li>
                
                
                
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- END: Header-->
  
  
      <!-- BEGIN: Main Menu-->
  
      <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow expanded" data-scroll-to-active="true" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <div class="main-menu-content ps" style="height: 585.609px;">
          <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 586px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
      </div>
  
      <!-- END: Main Menu-->
      <!-- BEGIN: Content-->
      <div class="app-content content">
        <div class="content-wrapper">
          <div class="content-header row mb-1">
          </div>
          <div class="content-body">
  
  
  
  
  
  
  
  <!-- Recent Transactions -->
  <div class="row">
      <div id="recent-transactions" class="col-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Recent Transactions</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                      <ul class="list-inline mb-0">
                          <li><a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right" href="invoice-summary.html" target="_blank">Invoice Summary</a></li>
                      </ul>
                  </div>
              </div>            
              <div class="card-content">                
                  <div class="table-responsive">
                      <table id="recent-orders" class="table table-hover table-xl mb-0">
                          <thead>
                              <tr>
                                  <th class="border-top-0">Status</th>                                
                                  <th class="border-top-0">Invoice#</th>
                                  <th class="border-top-0">Customer Name</th>
                                  <th class="border-top-0">Products</th>
                                  <th class="border-top-0">Categories</th>
                                  <th class="border-top-0">Shipping</th>
                                  <th class="border-top-0">Amount</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td class="text-truncate"><i class="la la-dot-circle-o success font-medium-1 mr-1"></i> Paid</td>
                                  <td class="text-truncate"><a href="#">INV-001001</a></td>
                                  <td class="text-truncate">
                                      <span class="avatar avatar-xs">
                                          <img class="box-shadow-2" src="../../../app-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
                                      </span>
                                      <span>Elizabeth W.</span>
                                  </td>
                                  <td class="text-truncate p-1">
                                      <ul class="list-unstyled users-list m-0">                                               
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-1.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-2.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Rebecca Jones" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-4.jpg" alt="Avatar">
                                          </li>
                                          <li class="avatar avatar-sm">                                            
                                              <span class="badge badge-info">+1 more</span>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-danger round">Food</button>
                                  </td>
                                  <td>
                                      <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                          <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </td>
                                  <td class="text-truncate">$ 1200.00</td>
                              </tr>
                              <tr>
                                  <td class="text-truncate"><i class="la la-dot-circle-o danger font-medium-1 mr-1"></i> Declined</td>
                                  <td class="text-truncate"><a href="#">INV-001002</a></td>
                                  <td class="text-truncate">
                                      <span class="avatar avatar-xs">
                                          <img class="box-shadow-2" src="../../../app-assets/images/portrait/small/avatar-s-5.png" alt="avatar">
                                      </span>
                                      <span>Doris R.</span>
                                  </td>
                                  <td class="text-truncate p-1">
                                      <ul class="list-unstyled users-list m-0">                                               
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-5.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-6.jpg" alt="Avatar">
                                          </li>                                        
                                          <li class="avatar avatar-sm">                                            
                                              <span class="badge badge-info">+2 more</span>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-warning round">Electronics</button>
                                  </td>
                                  <td>
                                      <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                          <div class="progress-bar bg-gradient-x-warning" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </td>
                                  <td class="text-truncate">$ 1850.00</td>
                              </tr>
                              <tr>
                                  <td class="text-truncate"><i class="la la-dot-circle-o warning font-medium-1 mr-1"></i> Pending</td>
                                  <td class="text-truncate"><a href="#">INV-001003</a></td>
                                  <td class="text-truncate">
                                      <span class="avatar avatar-xs">
                                          <img class="box-shadow-2" src="../../../app-assets/images/portrait/small/avatar-s-6.png" alt="avatar">
                                      </span>
                                      <span>Megan S.</span>
                                  </td>
                                  <td class="text-truncate p-1">
                                      <ul class="list-unstyled users-list m-0">                                               
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-2.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-5.jpg" alt="Avatar">
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-success round">Groceries</button>
                                  </td>
                                  <td>
                                      <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                          <div class="progress-bar bg-gradient-x-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </td>
                                  <td class="text-truncate">$ 3200.00</td>
                              </tr>
                              <tr>
                                  <td class="text-truncate"><i class="la la-dot-circle-o success font-medium-1 mr-1"></i> Paid</td>
                                  <td class="text-truncate"><a href="#">INV-001004</a></td>
                                  <td class="text-truncate">
                                      <span class="avatar avatar-xs">
                                          <img class="box-shadow-2" src="../../../app-assets/images/portrait/small/avatar-s-7.png" alt="avatar">
                                      </span>
                                      <span>Andrew D.</span>
                                  </td>
                                  <td class="text-truncate p-1">
                                      <ul class="list-unstyled users-list m-0">                                               
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-6.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-1.jpg" alt="Avatar">
                                          </li>
                                          <li class="avatar avatar-sm">                                            
                                              <span class="badge badge-info">+1 more</span>
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-info round">Apparels</button>
                                  </td>
                                  <td>
                                      <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                          <div class="progress-bar bg-gradient-x-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </td>
                                  <td class="text-truncate">$ 4500.00</td>
                              </tr>
                              <tr>
                                  <td class="text-truncate"><i class="la la-dot-circle-o success font-medium-1 mr-1"></i> Paid</td>
                                  <td class="text-truncate"><a href="#">INV-001005</a></td>
                                  <td class="text-truncate">
                                      <span class="avatar avatar-xs">
                                          <img class="box-shadow-2" src="../../../app-assets/images/portrait/small/avatar-s-9.png" alt="avatar">
                                      </span>
                                      <span>Walter R.</span>
                                  </td>
                                  <td class="text-truncate p-1">
                                      <ul class="list-unstyled users-list m-0">                                               
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Kimberly Simmons" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-5.jpg" alt="Avatar">
                                          </li>
                                          <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Willie Torres" class="avatar avatar-sm pull-up">
                                              <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="../../../app-assets/images/portfolio/portfolio-3.jpg" alt="Avatar">
                                          </li>
                                      </ul>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-sm btn-outline-danger round">Food</button>
                                  </td>
                                  <td>
                                      <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                          <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                  </td>
                                  <td class="text-truncate">$ 1500.00</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ Recent Transactions -->
  
  
  
  
  
  
  
  
          </div>
        </div>
      </div>
      <!-- END: Content-->
  
  
      
      
      
  
      
      
      <div class="sidenav-overlay" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
      <div class="drag-target" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>
  
      <!-- BEGIN: Footer-->
      <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright  © 2019 <a class="text-bold-800 grey darken-2" href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">PIXINVENT</a></span><span class="float-md-right d-none d-lg-block">Hand-crafted &amp; Made with <i class="ft-heart pink"></i><span id="scroll-top" style="display: none;"></span></span></p>
      </footer>
      <!-- END: Footer-->
  
  
      <!-- BEGIN: Vendor JS-->
      <script src="../app-assets/vendors/js/vendors.min.js"></script>
      <!-- BEGIN Vendor JS-->
  
      <!-- BEGIN: Page Vendor JS-->
      <script src="../app-assets/vendors/js/charts/raphael-min.js"></script>
      <script src="../app-assets/vendors/js/charts/morris.min.js"></script>
      <script src="../app-assets/vendors/js/timeline/horizontal-timeline.js"></script>
      <!-- END: Page Vendor JS-->
  
      <!-- BEGIN: Theme JS-->
      <script src="../app-assets/js/core/app-menu.min.js"></script>
      <script src="../app-assets/js/core/app.min.js"></script>
      <script src="../app-assets/js/scripts/customizer.min.js"></script>
      <script src="../app-assets/js/scripts/footer.min.js"></script>
      <!-- END: Theme JS-->
  
      <!-- BEGIN: Page JS-->
      <script src="../app-assets/js/scripts/pages/dashboard-ecommerce.min.js"></script>
      <!-- END: Page JS-->
  
    
    <!-- END: Body-->
  </body></html>