<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 25 May 2019 13:36:33 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Modern admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities with bitcoin dashboard.">
    <meta name="keywords" content="admin template, modern admin template, dashboard template, flat admin template, responsive admin template, web app, crypto dashboard, bitcoin dashboard">
    <meta name="author" content="PIXINVENT">
    <title>KBS Admin - Manage Service</title>
    <link rel="apple-touch-icon" href="/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN: Styles-->
    <% include include/styles.ejs %>
    <!-- END: Styles-->
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<!-- BEGIN: Header-->
<% include include/header.ejs %>
<!-- END: Header-->

<!-- BEGIN: Main Menu-->
<% include include/left-menu.ejs %>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1">
        </div>
        <div class="content-body"><!-- Revenue, Hit Rate & Deals -->
            <section id="ajax">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Transactions</h4>
                                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                            </div>
                            <div class="card-content collpase show">
                                <div class="card-body card-dashboard">
                                    <table class="table table-striped table-bordered manage-service">
                                        <thead>
                                        <tr>
                                            <th>Serial Number</th>
                                            <th>KeySessionID</th>
                                            <th>Status</th>
                                            <th>Service Name</th>
                                            <th>Merchant Name</th>
                                            <th>Terminal ID</th>
                                            <th>Branch Name</th>
                                            <th>Product</th>
                                            <th>Phone Number</th>
                                            <th>RRN Payment</th>
                                            <th>STAN</th>
                                            <th>Amount To Pay</th>
                                            <th>Pay In Amount</th>
                                            <th>Payment Method</th>
                                            <th>Reference Number</th>
                                            <th>Smart Card Number</th>
                                            <th>Used Voucher Number</th>
                                            <th>Confirmation ID</th>
                                            <th>Is Vouchered</th>
                                            <th>Hold Trxn Date Time</th>
                                            <th>Conf Trxn Date Time</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="modal fade text-left" id="edit-payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Update Payment</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">PaymenDate</label>
                                            <input type="text"   class="form-control" placeholder="Name" name="pdate" id="pdate" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput2">  Name</label>
                                            <input type="text"   class="form-control" placeholder="Name" name="lname" id="lname" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">E-mail</label>
                                            <input type="text" class="form-control" placeholder="E-mail" name="email" id="email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput4">Contact Number</label>
                                            <input type="text"   class="form-control" placeholder="Phone" name="phone" id="phone" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Company</label>
                                            <input type="text"   class="form-control" placeholder="Company" name="company" id="company" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">GSTIN</label>
                                            <input type="text"   class="form-control" placeholder="GSTIN" name="gstin"  id="gstin" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Address Line 1</label>
                                            <input type="text"   class="form-control" placeholder="Address Line 1" name="addr1"  id="addr1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Address Line 2</label>
                                            <input type="text"  class="form-control" placeholder="Address Line 2" name="addr2" id="addr2" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">City</label>
                                            <input type="text" class="form-control" placeholder="City" name="city" id="city" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Pincode</label>
                                            <input type="text"   class="form-control" placeholder="Pincode" name="pincode" id="pincode" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">State</label>
                                            <select   name="state"  id="state" class="form-control" required>
                                                <option value="none"  >Interested in</option>
                                                <option value="design">design</option>
                                                <option value="development">development</option>
                                                <option value="illustration">illustration</option>
                                                <option value="branding">branding</option>
                                                <option value="video">video</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput3">Country</label>
                                            <select   name="country"   id="country" class="form-control" required>
                                                <option value="none" >Interested in</option>
                                                <option value="design">design</option>
                                                <option value="development">development</option>
                                                <option value="illustration">illustration</option>
                                                <option value="branding">branding</option>
                                                <option value="video">video</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4 class="form-section"><i class="ft-user"></i> Items </h4>
                                <div class="row  ">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Product</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Qnty</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Rate</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="projectinput3">Total</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row itemsgroup">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="Product" name="product[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="qnty" name="qnty[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="rate" name="rate[]">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text"   class="form-control" placeholder="Total" name="total[]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row addddddd">
                                    <div class="col-md-12   text-right">
                                        <div class="form-group">
                                            <a  class="btn btn-success addbtn" style="color: white">
                                                <i class="la la-check-square-o"></i> Add
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <h4 class="form-section" style="border-bottom: 1px solid #f1f1f1 !important;"> </h4>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4   text-right">
                                        <div class="form-group">
                                            <input type="text"  class="form-control" placeholder="Adjustment" name="adjs" id="adjs">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4   text-right">
                                        <div class="form-group">
                                            <input type="text"   class="form-control" placeholder="Total" name="grtotal" id="grtotal">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <h4 class="form-section"><i class="ft-user"></i> Upload Invoice </h4>
                                <div class="form-group">
                                    <label>Select File</label>
                                    <label id="projectinput7" class="file center-block">
                                        <input type="file" id="fileup" id="fileup">
                                        <span class="file-custom"></span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="projectinput8">Remarks</label>
                                    <textarea  rows="5" class="form-control" name="remark"  id="remark" placeholder="About Payment"></textarea>
                                </div>
                            </div>

                            <div class="form-actions text-right">
                                <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">
                                    <i class="ft-x"></i> Cancel
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    <i class="la la-check-square-o"></i> Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade text-left" id="del-payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title text-text-bold-600" id="myModalLabel33">Remove Payment</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Are you sure want remove this payment?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="reset" class="btn btn-outline-secondary" data-dismiss="modal" value="close">
                <input type="button" class="btn btn-outline-danger delpayment" value="Remove">
            </div>

        </div>
    </div>
</div>

<!-- BEGIN: Footer-->
<% include include/footer.ejs %>
<!-- END: Footer-->

<!-- BEGIN: Vendor JS-->
<% include include/script.ejs %>
<!-- END: Theme JS-->

<script>
    let users=[];
    $('.loader-kbs').fadeIn();
    $(document).ready(function() {
        var tt  = $(".manage-service").DataTable({

            ajax:{url:  "/api/transactions/get", data:{action: 'get'}, type :'post',"error": function (e) { }, "dataSrc": function (d) { return d }},
            // data : [{"id":4,"name":"5","email":"5","contact":"5","status":5},{"id":3,"name":"5","email":"5","contact":"5","status":1},{"id":2,"name":"3","email":"3","contact":"3","status":1},{"id":1,"name":"undefined","email":"undefined","contact":"undefined","status":1}],

            columns: [{
                data: "key_session"
            },{
                data: "key_session"
            }, {
                data: "status"
            }, {
                data: "service_name"
            },{
                data: "merchant_name"
            },{
                data: "terminal_id"
            },{
                data: "branch_name"
            },{
                data: "product"
            },{
                data: "phone"
            },{
                data: "rrn_number"
            },{
                data: "stan"
            },{
                data: "amount_to_pay"
            },{
                data: "pay_in_amount"
            },{
                data: "payment_method"
            },{
                data: "reference_number"
            },{
                data: "smart_card_number"
            },{
                data: "used_voucher_number"
            },{
                data: "conformation_id"
            },{
                data: "is_vouchered"
            },{
                data: "hold_date_time"
            },{
                data: "conf_date_time"
            }],
            columnDefs: [{
                targets:0,
                render:function(t,a,e){
                    return '<span >'+e.key_session+'</span>';
                }
            },{
                targets:1,
                render:function(t,a,e){
                    return '<span >'+e.key_session+'</span>';
                }
            },{
                targets:2,
                render:function(t,a,e){

                    return '<span >'+ e.status +'</span>';
                }
            },{
                targets:3,
                render:function(t,a,e){

                    return '<span >'+ e.service_name +'</span>';
                }
            },{
                targets:4,
                render:function(t,a,e){

                    return '<span >'+ e.merchant_name +'</span>';
                }
            },{
                targets:5,
                render:function(t,a,e){

                    return '<span >'+ e.terminal_id +'</span>';
                }
            },{
                targets:6,
                render:function(t,a,e){

                    return '<span >'+ e.branch_name +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.product +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.phone +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.rrn_number +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.stan +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.amount_to_pay +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.pay_in_amount +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.payment_method +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.reference_number +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.smart_card_number +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.used_voucher_number +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.conformation_id +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.is_vouchered +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.hold_date_time +'</span>';
                }
            },{
                targets:7,
                render:function(t,a,e){

                    return '<span >'+ e.conf_date_time +'</span>';
                }
            }]
        });
        //  tt.columns.adjust().draw();
        $('.loader-kbs').fadeOut();
    });

</script>
</body>
<!-- END: Body-->

<!-- Mirrored from pixinvent.com/modern-admin-clean-bootstrap-4-dashboard-html-template/html/ltr/vertical-modern-menu-template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 27 May 2019 05:51:04 GMT -->
</html>